<footer class="page-footer  blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h5 class="white-text">Help the Parsha Project grow</h5>
                <p class="grey-text text-lighten-4">If you believe in the Parsha Project and want to support its development and upkeep, please become a patron! Any amount would help and is greatly appreciated.  Your support helps cover hosting fees, content development, and promotion!</p>
                <form id="patreon-donate" action="https://www.patreon.com/parshaproject" method="get" target="_top">
                    <button class="btn waves-effect waves-light blue lighten-2" type="submit" alt="Patreon - Support this project!">Become a Patron</button>
                </form>

            </div>
            <div class="col m6 s12" style="overflow: hidden;">
              <h5 class="white-text">Connect</h5>
              <!-- Go to www.addthis.com/dashboard to customize your tools -->
              <div class="white-text addthis_inline_follow_toolbox"></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Aaron Trank, All rights reserved.
        </div>
    </div>
</footer>
