<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
<link href="/css/prism.css" rel="stylesheet">
<link href="/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/css/style.css" rel="stylesheet">
<link rel="icon" href="/res/favicon-32x32.png" sizes="32x32">
<% if (typeof display !== "undefined") {%>
    <title>The Parsha Project : Parashat <%=display%></title>
  <%} else { %>
    <title>The Parsha Project</title>
<% } %>
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- <script>
  window.liveSettings = {
    api_key: "a0b49b34b93844c38eaee15690d86413",
    picker: "bottom-right",
    detectlang: true,
    dynamic: true,
    autocollect: true
  };
</script> -->
<script src="//cdn.transifex.com/live.js"></script>
