<div class='p'> <span class="verse" id="V17">17&#160;</span>When Pharaoh had let the people go, God didn’t lead them by the way of the land of the Philistines, although that was near; for God said, “Lest perhaps the people change their minds when they see war, and they
    return to Egypt”; <span class="verse" id="V18">18&#160;</span>but God led the people around by the way of the wilderness by the Red Sea; and the children of Israel went up armed out of the land of Egypt. <span class="verse" id="V19">19&#160;</span>Moses
    took the bones of Joseph with him, for he had made the children of Israel swear, saying, “God will surely visit you, and you shall carry up my bones away from here with you.” <span class="verse" id="V20">20&#160;</span>They took their journey from
    Succoth, and encamped in Etham, in the edge of the wilderness. <span class="verse" id="V21">21&#160;</span><span class="thelord">The LORD</span> went before them by day in a pillar of cloud, to lead them on their way, and by night in a pillar of fire, to give them light, that they
    might go by day and by night: <span class="verse" id="V22">22&#160;</span>the pillar of cloud by day, and the pillar of fire by night, didn’t depart from before the people. </div>
<div class='chapterlabel' id="V0"> 14</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span><span class="thelord">The LORD</span> spoke to Moses, saying, <span class="verse" id="V2">2&#160;</span>“Speak to the children of Israel, that they turn back and encamp before Pihahiroth, between Migdol and the sea, before Baal Zephon. You
    shall encamp opposite it by the sea. <span class="verse" id="V3">3&#160;</span>Pharaoh will say of the children of Israel, ‘They are entangled in the land. The wilderness has shut them in.’ <span class="verse" id="V4">4&#160;</span>I will harden Pharaoh’s
    heart, and he will follow after them; and I will get honor over Pharaoh, and over all his armies; and the Egyptians shall know that I am <span class="thelord">The LORD</span>.” They did so. </div>
<div class='p'> <span class="verse" id="V5">5&#160;</span>The king of Egypt was told that the people had fled; and the heart of Pharaoh and of his servants was changed toward the people, and they said, “What is this we have done, that we have let Israel go from serving
    us?” <span class="verse" id="V6">6&#160;</span>He prepared his chariot, and took his army with him; <span class="verse" id="V7">7&#160;</span>and he took six hundred chosen chariots, and all the chariots of Egypt, with captains over all of them.
    <span
        class="verse" id="V8">8&#160;</span><span class="thelord">The LORD</span> hardened the heart of Pharaoh king of Egypt, and he pursued the children of Israel; for the children of Israel went out with a high hand.<a href="#FN1" class="notemark">*<span class="popup"> or, defiantly.</span></a> <span class="verse"
            id="V9">9&#160;</span>The Egyptians pursued them. All the horses and chariots of Pharaoh, his horsemen, and his army overtook them encamping by the sea, beside Pihahiroth, before Baal Zephon. </div>
<div class='p'> <span class="verse" id="V10">10&#160;</span>When Pharaoh came near, the children of Israel lifted up their eyes, and behold, the Egyptians were marching after them; and they were very afraid. The children of Israel cried out to <span class="thelord">The LORD</span>. <span class="verse"
        id="V11">11&#160;</span>They said to Moses, “Because there were no graves in Egypt, have you taken us away to die in the wilderness? Why have you treated us this way, to bring us out of Egypt? <span class="verse" id="V12">12&#160;</span>Isn’t this
    the word that we spoke to you in Egypt, saying, ‘Leave us alone, that we may serve the Egyptians?’ For it would have been better for us to serve the Egyptians than to die in the wilderness.” </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span>Moses said to the people, “Don’t be afraid. Stand still, and see the salvation of <span class="thelord">The LORD</span>, which he will work for you today; for you will never again see the Egyptians whom you have seen today.
    <span class="verse" id="V14">14&#160;</span><span class="thelord">The LORD</span> will fight for you, and you shall be still.” </div>
<div class='p'> <span class="verse" id="V15">15&#160;</span><span class="thelord">The LORD</span> said to Moses, “Why do you cry to me? Speak to the children of Israel, that they go forward. <span class="verse" id="V16">16&#160;</span>Lift up your rod, and stretch out your hand over the sea and divide
    it. Then the children of Israel shall go into the middle of the sea on dry ground. <span class="verse" id="V17">17&#160;</span>Behold, I myself will harden the hearts of the Egyptians, and they will go in after them. I will get myself honor over Pharaoh,
    and over all his armies, over his chariots, and over his horsemen. <span class="verse" id="V18">18&#160;</span>The Egyptians shall know that I am <span class="thelord">The LORD</span> when I have gotten myself honor over Pharaoh, over his chariots, and over his horsemen.”
    <span
        class="verse" id="V19">19&#160;</span>The angel of God, who went before the camp of Israel, moved and went behind them; and the pillar of cloud moved from before them, and stood behind them. <span class="verse" id="V20">20&#160;</span>It came between the camp of Egypt and
        the camp of Israel. There was the cloud and the darkness, yet gave it light by night. One didn’t come near the other all night. </div>
<div class='p'> <span class="verse" id="V21">21&#160;</span>Moses stretched out his hand over the sea, and <span class="thelord">The LORD</span> caused the sea to go back by a strong east wind all night, and made the sea dry land, and the waters were divided. <span class="verse" id="V22">22&#160;</span>The
    children of Israel went into the middle of the sea on the dry ground, and the waters were a wall to them on their right hand, and on their left. <span class="verse" id="V23">23&#160;</span>The Egyptians pursued, and went in after them into the middle
    of the sea: all of Pharaoh’s horses, his chariots, and his horsemen. <span class="verse" id="V24">24&#160;</span>In the morning watch, <span class="thelord">The LORD</span> looked out on the Egyptian army through the pillar of fire and of cloud, and confused the Egyptian army.
    <span class="verse" id="V25">25&#160;</span>He took off their chariot wheels, and they drove them heavily; so that the Egyptians said, “Let’s flee from the face of Israel, for <span class="thelord">The LORD</span> fights for them against the Egyptians!”
</div>
<div class='p'> <span class="verse" id="V26">26&#160;</span><span class="thelord">The LORD</span> said to Moses, “Stretch out your hand over the sea, that the waters may come again on the Egyptians, on their chariots, and on their horsemen.” <span class="verse" id="V27">27&#160;</span>Moses stretched
    out his hand over the sea, and the sea returned to its strength when the morning appeared; and the Egyptians fled against it. <span class="thelord">The LORD</span> overthrew the Egyptians in the middle of the sea. <span class="verse" id="V28">28&#160;</span>The waters returned,
    and covered the chariots and the horsemen, even all Pharaoh’s army that went in after them into the sea. There remained not so much as one of them. <span class="verse" id="V29">29&#160;</span>But the children of Israel walked on dry land in the middle
    of the sea, and the waters were a wall to them on their right hand, and on their left. <span class="verse" id="V30">30&#160;</span>Thus <span class="thelord">The LORD</span> saved Israel that day out of the hand of the Egyptians; and Israel saw the Egyptians dead on the seashore.
    <span class="verse" id="V31">31&#160;</span>Israel saw the great work which <span class="thelord">The LORD</span> did to the Egyptians, and the people feared <span class="thelord">The LORD</span>; and they believed in <span class="thelord">The LORD</span> and in his servant Moses. </div>
<div class='chapterlabel' id="V0"> 15</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>Then Moses and the children of Israel sang this song to <span class="thelord">The LORD</span>, and said, </div>
<div class='q'>“I will sing to <span class="thelord">The LORD</span>, for he has triumphed gloriously. </div>
<div class='q2'>He has thrown the horse and his rider into the sea. </div>
<div class='q'> <span class="verse" id="V2">2&#160;</span>Yah is my strength and song. </div>
<div class='q2'>He has become my salvation. </div>
<div class='q'>This is my God, and I will praise him; </div>
<div class='q2'>my father’s God, and I will exalt him. </div>
<div class='q'> <span class="verse" id="V3">3&#160;</span><span class="thelord">The LORD</span> is a man of war. </div>
<div class='q2'><span class="thelord">The LORD</span> is his name. </div>
<div class='q'> <span class="verse" id="V4">4&#160;</span>He has cast Pharaoh’s chariots and his army into the sea. </div>
<div class='q2'>His chosen captains are sunk in the Red Sea. </div>
<div class='q'> <span class="verse" id="V5">5&#160;</span>The deeps cover them. </div>
<div class='q2'>They went down into the depths like a stone. </div>
<div class='q'> <span class="verse" id="V6">6&#160;</span>Your right hand, <span class="thelord">The LORD</span>, is glorious in power. </div>
<div class='q2'>Your right hand, <span class="thelord">The LORD</span>, dashes the enemy in pieces. </div>
<div class='q'> <span class="verse" id="V7">7&#160;</span>In the greatness of your excellency, you overthrow those who rise up against you. </div>
<div class='q2'>You send out your wrath. It consumes them as stubble. </div>
<div class='q'> <span class="verse" id="V8">8&#160;</span>With the blast of your nostrils, the waters were piled up. </div>
<div class='q2'>The floods stood upright as a heap. </div>
<div class='q2'>The deeps were congealed in the heart of the sea. </div>
<div class='q'> <span class="verse" id="V9">9&#160;</span>The enemy said, ‘I will pursue. I will overtake. I will divide the plunder. </div>
<div class='q2'>My desire will be satisfied on them. </div>
<div class='q2'>I will draw my sword. My hand will destroy them.’ </div>
<div class='q'> <span class="verse" id="V10">10&#160;</span>You blew with your wind. </div>
<div class='q2'>The sea covered them. </div>
<div class='q2'>They sank like lead in the mighty waters. </div>
<div class='q'> <span class="verse" id="V11">11&#160;</span>Who is like you, <span class="thelord">The LORD</span>, among the gods? </div>
<div class='q2'>Who is like you, glorious in holiness, </div>
<div class='q2'>fearful in praises, doing wonders? </div>
<div class='q'> <span class="verse" id="V12">12&#160;</span>You stretched out your right hand. </div>
<div class='q2'>The earth swallowed them. </div>
<div class='q'> <span class="verse" id="V13">13&#160;</span>“You, in your loving kindness, have led the people that you have redeemed. </div>
<div class='q2'>You have guided them in your strength to your holy habitation. </div>
<div class='q'> <span class="verse" id="V14">14&#160;</span>The peoples have heard. </div>
<div class='q2'>They tremble. </div>
<div class='q2'>Pangs have taken hold of the inhabitants of Philistia. </div>
<div class='q'> <span class="verse" id="V15">15&#160;</span>Then the chiefs of Edom were dismayed. </div>
<div class='q2'>Trembling takes hold of the mighty men of Moab. </div>
<div class='q2'>All the inhabitants of Canaan have melted away. </div>
<div class='q'> <span class="verse" id="V16">16&#160;</span>Terror and dread falls on them. </div>
<div class='q2'>By the greatness of your arm they are as still as a stone, </div>
<div class='q2'>until your people pass over, <span class="thelord">The LORD</span>, </div>
<div class='q2'>until the people you have purchased pass over. </div>
<div class='q2'> <span class="verse" id="V17">17&#160;</span>You will bring them in, and plant them in the mountain of your inheritance, </div>
<div class='q2'>the place, <span class="thelord">The LORD</span>, which you have made for yourself to dwell in; </div>
<div class='q2'>the sanctuary, Lord, which your hands have established. </div>
<div class='q'> <span class="verse" id="V18">18&#160;</span><span class="thelord">The LORD</span> will reign forever and ever.” </div>
<div class='p'> <span class="verse" id="V19">19&#160;</span>For the horses of Pharaoh went in with his chariots and with his horsemen into the sea, and <span class="thelord">The LORD</span> brought back the waters of the sea on them; but the children of Israel walked on dry land in the middle of the
    sea. <span class="verse" id="V20">20&#160;</span>Miriam the prophetess, the sister of Aaron, took a tambourine in her hand; and all the women went out after her with tambourines and with dances. <span class="verse" id="V21">21&#160;</span>Miriam answered
    them, </div>
<div class='q'>“Sing to <span class="thelord">The LORD</span>, for he has triumphed gloriously. </div>
<div class='q'>The horse and his rider he has thrown into the sea.” </div>
<div class='p'> <span class="verse" id="V22">22&#160;</span>Moses led Israel onward from the Red Sea, and they went out into the wilderness of Shur; and they went three days in the wilderness, and found no water. <span class="verse" id="V23">23&#160;</span>When they
    came to Marah, they couldn’t drink from the waters of Marah, for they were bitter. Therefore its name was called Marah.<a href="#FN1" class="notemark">*<span class="popup"> Marah means bitter.</span></a> <span class="verse" id="V24">24&#160;</span>The
    people murmured against Moses, saying, “What shall we drink?” <span class="verse" id="V25">25&#160;</span>Then he cried to <span class="thelord">The LORD</span>. <span class="thelord">The LORD</span> showed him a tree, and he threw it into the waters, and the waters were made sweet. There he made a statute and
    an ordinance for them, and there he tested them. <span class="verse" id="V26">26&#160;</span>He said, “If you will diligently listen to <span class="thelord">The LORD</span> your God’s voice, and will do that which is right in his eyes, and will pay attention to his commandments,
    and keep all his statutes, I will put none of the diseases on you, which I have put on the Egyptians; for I am <span class="thelord">The LORD</span> who heals you.” </div>
<div class='p'> <span class="verse" id="V27">27&#160;</span>They came to Elim, where there were twelve springs of water, and seventy palm trees. They encamped there by the waters. </div>
<div class='chapterlabel' id="V0"> 16</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>They took their journey from Elim, and all the congregation of the children of Israel came to the wilderness of Sin, which is between Elim and Sinai, on the fifteenth day of the second month after their departing
    out of the land of Egypt. <span class="verse" id="V2">2&#160;</span>The whole congregation of the children of Israel murmured against Moses and against Aaron in the wilderness; <span class="verse" id="V3">3&#160;</span>and the children of Israel said
    to them, “We wish that we had died by <span class="thelord">The LORD</span>’s hand in the land of Egypt, when we sat by the meat pots, when we ate our fill of bread, for you have brought us out into this wilderness to kill this whole assembly with hunger.”
</div>
<div class='p'> <span class="verse" id="V4">4&#160;</span>Then <span class="thelord">The LORD</span> said to Moses, “Behold, I will rain bread from the sky for you, and the people shall go out and gather a day’s portion every day, that I may test them, whether they will walk in my law or not.
    <span class="verse" id="V5">5&#160;</span>It shall come to pass on the sixth day, that they shall prepare that which they bring in, and it shall be twice as much as they gather daily.” </div>
<div class='p'> <span class="verse" id="V6">6&#160;</span>Moses and Aaron said to all the children of Israel, “At evening, you shall know that <span class="thelord">The LORD</span> has brought you out from the land of Egypt. <span class="verse" id="V7">7&#160;</span>In the morning, you shall see <span class="thelord">The LORD</span>’s
    glory; because he hears your murmurings against <span class="thelord">The LORD</span>. Who are we, that you murmur against us?” <span class="verse" id="V8">8&#160;</span>Moses said, “Now <span class="thelord">The LORD</span> will give you meat to eat in the evening, and in the morning bread to satisfy you, because
    <span class="thelord">The LORD</span> hears your murmurings which you murmur against him. And who are we? Your murmurings are not against us, but against <span class="thelord">The LORD</span>.” <span class="verse" id="V9">9&#160;</span>Moses said to Aaron, “Tell all the congregation of the children of Israel,
    ‘Come close to <span class="thelord">The LORD</span>, for he has heard your murmurings.’ ” <span class="verse" id="V10">10&#160;</span>As Aaron spoke to the whole congregation of the children of Israel, they looked toward the wilderness, and behold, <span class="thelord">The LORD</span>’s glory appeared in the
    cloud. <span class="verse" id="V11">11&#160;</span><span class="thelord">The LORD</span> spoke to Moses, saying, <span class="verse" id="V12">12&#160;</span>“I have heard the murmurings of the children of Israel. Speak to them, saying, ‘At evening you shall eat meat, and in the
    morning you shall be filled with bread. Then you will know that I am <span class="thelord">The LORD</span> your God.’ ” </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span>In the evening, quail came up and covered the camp; and in the morning the dew lay around the camp. <span class="verse" id="V14">14&#160;</span>When the dew that lay had gone, behold, on the surface of the wilderness
    was a small round thing, small as the frost on the ground. <span class="verse" id="V15">15&#160;</span>When the children of Israel saw it, they said to one another, “What is it?” For they didn’t know what it was. Moses said to them, “It is the bread
    which <span class="thelord">The LORD</span> has given you to eat. <span class="verse" id="V16">16&#160;</span>“This is the thing which <span class="thelord">The LORD</span> has commanded: ‘Gather of it everyone according to his eating; an omer<a href="#FN1" class="notemark">*<span class="popup"> An omer is about 2.2 liters or about 2.3 quarts</span></a>    a head, according to the number of your persons, you shall take it, every man for those who are in his tent.’ ” <span class="verse" id="V17">17&#160;</span>The children of Israel did so, and some gathered more, some less. <span class="verse" id="V18">18&#160;</span>When
    they measured it with an omer, he who gathered much had nothing over, and he who gathered little had no lack. They each gathered according to his eating. <span class="verse" id="V19">19&#160;</span>Moses said to them, “Let no one leave of it until
    the morning.” <span class="verse" id="V20">20&#160;</span>Notwithstanding they didn’t listen to Moses, but some of them left of it until the morning, so it bred worms and became foul; and Moses was angry with them. <span class="verse" id="V21">21&#160;</span>They
    gathered it morning by morning, everyone according to his eating. When the sun grew hot, it melted. <span class="verse" id="V22">22&#160;</span>On the sixth day, they gathered twice as much bread, two omers for each one; and all the rulers of the
    congregation came and told Moses. <span class="verse" id="V23">23&#160;</span>He said to them, “This is that which <span class="thelord">The LORD</span> has spoken, ‘Tomorrow is a solemn rest, a holy Sabbath to <span class="thelord">The LORD</span>. Bake that which you want to bake, and boil that which you want
    to boil; and all that remains over lay up for yourselves to be kept until the morning.’ ” <span class="verse" id="V24">24&#160;</span>They laid it up until the morning, as Moses ordered, and it didn’t become foul, and there were no worms in it.
    <span
        class="verse" id="V25">25&#160;</span>Moses said, “Eat that today, for today is a Sabbath to <span class="thelord">The LORD</span>. Today you shall not find it in the field. <span class="verse" id="V26">26&#160;</span>Six days you shall gather it, but on the seventh day is the Sabbath. In it there shall
        be none.” <span class="verse" id="V27">27&#160;</span>On the seventh day, some of the people went out to gather, and they found none. <span class="verse" id="V28">28&#160;</span><span class="thelord">The LORD</span> said to Moses, “How long do you refuse to keep my commandments
        and my laws? <span class="verse" id="V29">29&#160;</span>Behold, because <span class="thelord">The LORD</span> has given you the Sabbath, therefore he gives you on the sixth day the bread of two days. Everyone stay in his place. Let no one go out of his place on the seventh
        day.” <span class="verse" id="V30">30&#160;</span>So the people rested on the seventh day. </div>
<div class='p'> <span class="verse" id="V31">31&#160;</span>The house of Israel called its name “Manna”,<a href="#FN2" class="notemark">†<span class="popup"> “Manna” means “What is it?”</span></a> and it was like coriander seed, white; and its taste was like wafers with
    honey. <span class="verse" id="V32">32&#160;</span>Moses said, “This is the thing which <span class="thelord">The LORD</span> has commanded, ‘Let an omer-full of it be kept throughout your generations, that they may see the bread with which I fed you in the wilderness, when I brought
    you out of the land of Egypt.’ ” <span class="verse" id="V33">33&#160;</span>Moses said to Aaron, “Take a pot, and put an omer-full of manna in it, and lay it up before <span class="thelord">The LORD</span>, to be kept throughout your generations.”
    <span class="verse" id="V34">34&#160;</span>As <span class="thelord">The LORD</span> commanded Moses, so Aaron laid it up before the Testimony, to be kept. <span class="verse" id="V35">35&#160;</span>The children of Israel ate the manna forty years, until they came to an inhabited
    land. They ate the manna until they came to the borders of the land of Canaan. <span class="verse" id="V36">36&#160;</span>Now an omer is one tenth of an ephah.<a href="#FN3" class="notemark">‡<span class="popup"> 1 ephah is about 22 liters or about 2/3 of a bushel</span></a>    </div>
<div class='chapterlabel' id="V0"> 17</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>All the congregation of the children of Israel traveled from the wilderness of Sin, starting according to <span class="thelord">The LORD</span>’s commandment, and encamped in Rephidim; but there was no water for the people to drink.
    <span class="verse" id="V2">2&#160;</span>Therefore the people quarreled with Moses, and said, “Give us water to drink.” </div>
<div class='p'>Moses said to them, “Why do you quarrel with me? Why do you test <span class="thelord">The LORD</span>?” </div>
<div class='p'> <span class="verse" id="V3">3&#160;</span>The people were thirsty for water there; so the people murmured against Moses, and said, “Why have you brought us up out of Egypt, to kill us, our children, and our livestock with thirst?” </div>
<div class='p'>
    <span class="verse" id="V4">4&#160;</span>Moses cried to <span class="thelord">The LORD</span>, saying, “What shall I do with these people? They are almost ready to stone me.” </div>
<div class='p'> <span class="verse" id="V5">5&#160;</span><span class="thelord">The LORD</span> said to Moses, “Walk on before the people, and take the elders of Israel with you, and take the rod in your hand with which you struck the Nile, and go. <span class="verse" id="V6">6&#160;</span>Behold,
    I will stand before you there on the rock in Horeb. You shall strike the rock, and water will come out of it, that the people may drink.” Moses did so in the sight of the elders of Israel. <span class="verse" id="V7">7&#160;</span>He called the name
    of the place Massah,<a href="#FN1" class="notemark">*<span class="popup"> Massah means testing. </span></a> and Meribah,<a href="#FN2" class="notemark">†<span class="popup"> Meribah means quarreling.</span></a> because the children of Israel quarreled,
    and because they tested <span class="thelord">The LORD</span>, saying, “Is <span class="thelord">The LORD</span> among us, or not?” </div>
<div class='p'> <span class="verse" id="V8">8&#160;</span>Then Amalek came and fought with Israel in Rephidim. <span class="verse" id="V9">9&#160;</span>Moses said to Joshua, “Choose men for us, and go out, fight with Amalek. Tomorrow I will stand on the top of the hill
    with God’s rod in my hand.” <span class="verse" id="V10">10&#160;</span>So Joshua did as Moses had told him, and fought with Amalek; and Moses, Aaron, and Hur went up to the top of the hill. <span class="verse" id="V11">11&#160;</span>When Moses held
    up his hand, Israel prevailed. When he let down his hand, Amalek prevailed. <span class="verse" id="V12">12&#160;</span>But Moses’ hands were heavy; so they took a stone, and put it under him, and he sat on it. Aaron and Hur held up his hands, the
    one on the one side, and the other on the other side. His hands were steady until sunset. <span class="verse" id="V13">13&#160;</span>Joshua defeated Amalek and his people with the edge of the sword. <span class="verse" id="V14">14&#160;</span><span class="thelord">The LORD</span>
    said to Moses, “Write this for a memorial in a book, and rehearse it in the ears of Joshua: that I will utterly blot out the memory of Amalek from under the sky.” <span class="verse" id="V15">15&#160;</span>Moses built an altar, and called its name
    “<span class="thelord">The LORD</span> our Banner”.<a href="#FN3" class="notemark">‡<span class="popup"> Hebrew, <span class="thelord">The LORD</span> Nissi</span></a> <span class="verse" id="V16">16&#160;</span>He said, “Yah has sworn: ‘<span class="thelord">The LORD</span> will have war with Amalek from generation to generation.’ ”
</div>
