<div class='chapterlabel' id="V0"> 19</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span><span class="thelord">The LORD</span> spoke to Moses and to Aaron, saying, <span class="verse" id="V2">2&#160;</span>“This is the statute of the law which <span class="thelord">The LORD</span> has commanded. Tell the children of Israel to bring you a red heifer without
    spot, in which is no defect, and which was never yoked. <span class="verse" id="V3">3&#160;</span>You shall give her to Eleazar the priest, and he shall bring her outside of the camp, and one shall kill her before his face. <span class="verse"
        id="V4">4&#160;</span>Eleazar the priest shall take some of her blood with his finger, and sprinkle her blood toward the front of the Tent of Meeting seven times. <span class="verse" id="V5">5&#160;</span>One shall burn the heifer in his sight;
    her skin, and her meat, and her blood, with her dung, shall he burn. <span class="verse" id="V6">6&#160;</span>The priest shall take cedar wood, hyssop, and scarlet, and cast it into the middle of the burning of the heifer. <span class="verse"
        id="V7">7&#160;</span>Then the priest shall wash his clothes, and he shall bathe his flesh in water, and afterward he shall come into the camp, and the priest shall be unclean until the evening. <span class="verse" id="V8">8&#160;</span>He
    who burns her shall wash his clothes in water, and bathe his flesh in water, and shall be unclean until the evening. </div>
<div class='p'> <span class="verse" id="V9">9&#160;</span>“A man who is clean shall gather up the ashes of the heifer, and lay them up outside of the camp in a clean place; and it shall be kept for the congregation of the children of Israel for use in water for
    cleansing impurity. It is a sin offering. <span class="verse" id="V10">10&#160;</span>He who gathers the ashes of the heifer shall wash his clothes, and be unclean until the evening. It shall be to the children of Israel, and to the stranger
    who lives as a foreigner among them, for a statute forever. </div>
<div class='p'> <span class="verse" id="V11">11&#160;</span>“He who touches the dead body of any man shall be unclean seven days. <span class="verse" id="V12">12&#160;</span>He shall purify himself with water on the third day, and on the seventh day he shall
    be clean; but if he doesn’t purify himself the third day, then the seventh day he shall not be clean. <span class="verse" id="V13">13&#160;</span>Whoever touches a dead person, the body of a man who has died, and doesn’t purify himself, defiles
    <span class="thelord">The LORD</span>’s tabernacle; and that soul shall be cut off from Israel; because the water for impurity was not sprinkled on him, he shall be unclean. His uncleanness is yet on him. </div>
<div class='p'> <span class="verse" id="V14">14&#160;</span>“This is the law when a man dies in a tent: everyone who comes into the tent, and everyone who is in the tent, shall be unclean seven days. <span class="verse" id="V15">15&#160;</span>Every open vessel,
    which has no covering bound on it, is unclean. </div>
<div class='p'> <span class="verse" id="V16">16&#160;</span>“Whoever in the open field touches one who is slain with a sword, or a dead body, or a bone of a man, or a grave, shall be unclean seven days. </div>
<div class='p'> <span class="verse" id="V17">17&#160;</span>“For the unclean, they shall take of the ashes of the burning of the sin offering; and running water shall be poured on them in a vessel. <span class="verse" id="V18">18&#160;</span>A clean person shall
    take hyssop, dip it in the water, and sprinkle it on the tent, on all the vessels, on the persons who were there, and on him who touched the bone, or the slain, or the dead, or the grave. <span class="verse" id="V19">19&#160;</span>The clean
    person shall sprinkle on the unclean on the third day, and on the seventh day. On the seventh day, he shall purify him. He shall wash his clothes and bathe himself in water, and shall be clean at evening. <span class="verse" id="V20">20&#160;</span>But
    the man who shall be unclean, and shall not purify himself, that soul shall be cut off from among the assembly, because he has defiled the sanctuary of <span class="thelord">The LORD</span>. The water for impurity has not been sprinkled on him. He is unclean. <span class="verse"
        id="V21">21&#160;</span>It shall be a perpetual statute to them. He who sprinkles the water for impurity shall wash his clothes, and he who touches the water for impurity shall be unclean until evening. </div>
<div class='p'> <span class="verse" id="V22">22&#160;</span>“Whatever the unclean person touches shall be unclean; and the soul that touches it shall be unclean until evening.” </div>
<div class='chapterlabel' id="V0"> 20</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>The children of Israel, even the whole congregation, came into the wilderness of Zin in the first month. The people stayed in Kadesh. Miriam died there, and was buried there. <span class="verse" id="V2">2&#160;</span>There
    was no water for the congregation; and they assembled themselves together against Moses and against Aaron. <span class="verse" id="V3">3&#160;</span>The people quarreled with Moses, and spoke, saying, “We wish that we had died when our brothers
    died before <span class="thelord">The LORD</span>! <span class="verse" id="V4">4&#160;</span>Why have you brought <span class="thelord">The LORD</span>’s assembly into this wilderness, that we should die there, we and our animals? <span class="verse" id="V5">5&#160;</span>Why have you made us to come
    up out of Egypt, to bring us in to this evil place? It is no place of seed, or of figs, or of vines, or of pomegranates; neither is there any water to drink.” </div>
<div class='p'> <span class="verse" id="V6">6&#160;</span>Moses and Aaron went from the presence of the assembly to the door of the Tent of Meeting, and fell on their faces. <span class="thelord">The LORD</span>’s glory appeared to them. <span class="verse" id="V7">7&#160;</span><span class="thelord">The LORD</span> spoke
    to Moses, saying, <span class="verse" id="V8">8&#160;</span>“Take the rod, and assemble the congregation, you, and Aaron your brother, and speak to the rock before their eyes, that it pour out its water. You shall bring water to them out of
    the rock; so you shall give the congregation and their livestock drink.” </div>
<div class='p'> <span class="verse" id="V9">9&#160;</span>Moses took the rod from before <span class="thelord">The LORD</span>, as he commanded him. <span class="verse" id="V10">10&#160;</span>Moses and Aaron gathered the assembly together before the rock, and he said to them, “Hear now, you
    rebels! Shall we bring water out of this rock for you?” <span class="verse" id="V11">11&#160;</span>Moses lifted up his hand, and struck the rock with his rod twice, and water came out abundantly. The congregation and their livestock drank.
    </div>
<div class='p'> <span class="verse" id="V12">12&#160;</span><span class="thelord">The LORD</span> said to Moses and Aaron, “Because you didn’t believe in me, to sanctify me in the eyes of the children of Israel, therefore you shall not bring this assembly into the land which I have given them.”
    </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span>These are the waters of Meribah;<a href="#FN1" class="notemark">*<span class="popup"> “Meribah” means “quarreling”.</span></a> because the children of Israel strove with <span class="thelord">The LORD</span>, and he was sanctified
    in them. </div>
<div class='p'> <span class="verse" id="V14">14&#160;</span>Moses sent messengers from Kadesh to the king of Edom, saying: </div>
<div class='p'>“Your brother Israel says: You know all the travail that has happened to us; <span class="verse" id="V15">15&#160;</span>how our fathers went down into Egypt, and we lived in Egypt a long time. The Egyptians mistreated us and our fathers.
    <span
        class="verse" id="V16">16&#160;</span>When we cried to <span class="thelord">The LORD</span>, he heard our voice, sent an angel, and brought us out of Egypt. Behold, we are in Kadesh, a city in the edge of your border. </div>
<div class='p'> <span class="verse" id="V17">17&#160;</span>“Please let us pass through your land. We will not pass through field or through vineyard, neither will we drink from the water of the wells. We will go along the king’s highway. We will not turn away
    to the right hand nor to the left, until we have passed your border.” </div>
<div class='p'> <span class="verse" id="V18">18&#160;</span>Edom said to him, “You shall not pass through me, lest I come out with the sword against you.” </div>
<div class='p'> <span class="verse" id="V19">19&#160;</span>The children of Israel said to him, “We will go up by the highway; and if we drink your water, I and my livestock, then I will give its price. Only let me, without doing anything else, pass through on
    my feet.” </div>
<div class='p'> <span class="verse" id="V20">20&#160;</span>He said, “You shall not pass through.” Edom came out against him with many people, and with a strong hand. <span class="verse" id="V21">21&#160;</span>Thus Edom refused to give Israel passage through
    his border, so Israel turned away from him. </div>
<div class='p'> <span class="verse" id="V22">22&#160;</span>They traveled from Kadesh, and the children of Israel, even the whole congregation, came to Mount Hor. <span class="verse" id="V23">23&#160;</span><span class="thelord">The LORD</span> spoke to Moses and Aaron in Mount Hor, by the
    border of the land of Edom, saying, <span class="verse" id="V24">24&#160;</span>“Aaron shall be gathered to his people; for he shall not enter into the land which I have given to the children of Israel, because you rebelled against my word
    at the waters of Meribah. <span class="verse" id="V25">25&#160;</span>Take Aaron and Eleazar his son, and bring them up to Mount Hor; <span class="verse" id="V26">26&#160;</span>and strip Aaron of his garments, and put them on Eleazar his
    son. Aaron shall be gathered, and shall die there.” </div>
<div class='p'> <span class="verse" id="V27">27&#160;</span>Moses did as <span class="thelord">The LORD</span> commanded. They went up onto Mount Hor in the sight of all the congregation. <span class="verse" id="V28">28&#160;</span>Moses stripped Aaron of his garments, and put them on Eleazar
    his son. Aaron died there on the top of the mountain, and Moses and Eleazar came down from the mountain. <span class="verse" id="V29">29&#160;</span>When all the congregation saw that Aaron was dead, they wept for Aaron thirty days, even all
    the house of Israel. </div>
    <div class='chapterlabel' id="V0"> 21</div>
    <div class='p'> <span class="verse" id="V1">1&#160;</span>The Canaanite, the king of Arad, who lived in the South, heard that Israel came by the way of Atharim. He fought against Israel, and took some of them captive. <span class="verse" id="V2">2&#160;</span>Israel
        vowed a vow to <span class="thelord">The LORD</span>, and said, “If you will indeed deliver this people into my hand, then I will utterly destroy their cities.” <span class="verse" id="V3">3&#160;</span><span class="thelord">The LORD</span> listened to the voice of Israel, and delivered up the Canaanites;
        and they utterly destroyed them and their cities. The name of the place was called Hormah.<a href="#FN1" class="notemark">*<span class="popup"> “Hormah” means “destruction”.</span></a> </div>
    <div class='p'> <span class="verse" id="V4">4&#160;</span>They traveled from Mount Hor by the way to the Red Sea, to go around the land of Edom. The soul of the people was very discouraged because of the journey. <span class="verse" id="V5">5&#160;</span>The
        people spoke against God and against Moses: “Why have you brought us up out of Egypt to die in the wilderness? For there is no bread, there is no water, and our soul loathes this disgusting food!” </div>
    <div class='p'> <span class="verse" id="V6">6&#160;</span><span class="thelord">The LORD</span> sent venomous snakes among the people, and they bit the people. Many people of Israel died. <span class="verse" id="V7">7&#160;</span>The people came to Moses, and said, “We have sinned, because
        we have spoken against <span class="thelord">The LORD</span> and against you. Pray to <span class="thelord">The LORD</span>, that he take away the serpents from us.” Moses prayed for the people. </div>
    <div class='p'> <span class="verse" id="V8">8&#160;</span><span class="thelord">The LORD</span> said to Moses, “Make a venomous snake, and set it on a pole. It shall happen that everyone who is bitten, when he sees it, shall live.” <span class="verse" id="V9">9&#160;</span>Moses made a serpent
        of bronze, and set it on the pole. If a serpent had bitten any man, when he looked at the serpent of bronze, he lived. </div>
    <div class='p'> <span class="verse" id="V10">10&#160;</span>The children of Israel traveled, and encamped in Oboth. <span class="verse" id="V11">11&#160;</span>They traveled from Oboth, and encamped at Iyeabarim, in the wilderness which is before Moab, toward
        the sunrise. <span class="verse" id="V12">12&#160;</span>From there they traveled, and encamped in the valley of Zered. <span class="verse" id="V13">13&#160;</span>From there they traveled, and encamped on the other side of the Arnon, which
        is in the wilderness that comes out of the border of the Amorites; for the Arnon is the border of Moab, between Moab and the Amorites. <span class="verse" id="V14">14&#160;</span>Therefore it is said in the book of the Wars of <span class="thelord">The LORD</span>, “Vaheb
        in Suphah, the valleys of the Arnon, <span class="verse" id="V15">15&#160;</span>the slope of the valleys that incline toward the dwelling of Ar, leans on the border of Moab.” </div>
    <div class='p'> <span class="verse" id="V16">16&#160;</span>From there they traveled to Beer; that is the well of which <span class="thelord">The LORD</span> said to Moses, “Gather the people together, and I will give them water.” </div>
    <div class='p'> <span class="verse" id="V17">17&#160;</span>Then Israel sang this song: </div>
    <div class='q'>“Spring up, well! Sing to it, </div>
    <div class='q2'> <span class="verse" id="V18">18&#160;</span>the well, which the princes dug, </div>
    <div class='q2'>which the nobles of the people dug, </div>
    <div class='q2'>with the scepter, and with their poles.” </div>
    <div class='p'>From the wilderness they traveled to Mattanah; <span class="verse" id="V19">19&#160;</span>and from Mattanah to Nahaliel; and from Nahaliel to Bamoth; <span class="verse" id="V20">20&#160;</span>and from Bamoth to the valley that is in the field
        of Moab, to the top of Pisgah, which looks down on the desert. <span class="verse" id="V21">21&#160;</span>Israel sent messengers to Sihon king of the Amorites, saying, <span class="verse" id="V22">22&#160;</span>“Let me pass through your
        land. We will not turn away into field or vineyard. We will not drink of the water of the wells. We will go by the king’s highway, until we have passed your border.” </div>
    <div class='p'> <span class="verse" id="V23">23&#160;</span>Sihon would not allow Israel to pass through his border, but Sihon gathered all his people together, and went out against Israel into the wilderness, and came to Jahaz. He fought against Israel.
        <span
            class="verse" id="V24">24&#160;</span>Israel struck him with the edge of the sword, and possessed his land from the Arnon to the Jabbok, even to the children of Ammon; for the border of the children of Ammon was fortified. <span class="verse" id="V25">25&#160;</span>Israel
            took all these cities. Israel lived in all the cities of the Amorites, in Heshbon, and in all its villages. <span class="verse" id="V26">26&#160;</span>For Heshbon was the city of Sihon the king of the Amorites, who had fought against
            the former king of Moab, and taken all his land out of his hand, even to the Arnon. <span class="verse" id="V27">27&#160;</span>Therefore those who speak in proverbs say, </div>
    <div class='q'>“Come to Heshbon. </div>
    <div class='q2'>Let the city of Sihon be built and established; </div>
    <div class='q'> <span class="verse" id="V28">28&#160;</span>for a fire has gone out of Heshbon, </div>
    <div class='q2'>a flame from the city of Sihon. </div>
    <div class='q'>It has devoured Ar of Moab, </div>
    <div class='q2'>The lords of the high places of the Arnon. </div>
    <div class='q'> <span class="verse" id="V29">29&#160;</span>Woe to you, Moab! </div>
    <div class='q2'>You are undone, people of Chemosh! </div>
    <div class='q'>He has given his sons as fugitives, </div>
    <div class='q2'>and his daughters into captivity, </div>
    <div class='q2'>to Sihon king of the Amorites. </div>
    <div class='q'> <span class="verse" id="V30">30&#160;</span>We have shot at them. </div>
    <div class='q2'>Heshbon has perished even to Dibon. </div>
    <div class='q'>We have laid waste even to Nophah, </div>
    <div class='q2'>Which reaches to Medeba.” </div>
    <div class='p'> <span class="verse" id="V31">31&#160;</span>Thus Israel lived in the land of the Amorites. <span class="verse" id="V32">32&#160;</span>Moses sent to spy out Jazer. They took its villages, and drove out the Amorites who were there. <span class="verse"
            id="V33">33&#160;</span>They turned and went up by the way of Bashan. Og the king of Bashan went out against them, he and all his people, to battle at Edrei. </div>
    <div class='p'> <span class="verse" id="V34">34&#160;</span><span class="thelord">The LORD</span> said to Moses, “Don’t fear him, for I have delivered him into your hand, with all his people, and his land. You shall do to him as you did to Sihon king of the Amorites, who lived at Heshbon.”
        </div>
    <div class='p'> <span class="verse" id="V35">35&#160;</span>So they struck him, with his sons and all his people, until there were no survivors; and they possessed his land. </div>
    <div class='chapterlabel' id="V0"> 22</div>
    <div class='p'> <span class="verse" id="V1">1&#160;</span>The children of Israel traveled, and encamped in the plains of Moab beyond the Jordan at Jericho. </div>
