<div class='chapterlabel' id="V0"> 19</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span><span class="thelord">The LORD</span> spoke to Moses, saying, <span class="verse" id="V2">2&#160;</span>“Speak to all the congregation of the children of Israel, and tell them, ‘You shall be holy; for I, <span class="thelord">The LORD</span> your God, am holy. </div>
<div class='p'> <span class="verse" id="V3">3&#160;</span>“ ‘Each one of you shall respect his mother and his father. You shall keep my Sabbaths. I am <span class="thelord">The LORD</span> your God. </div>
<div class='p'> <span class="verse" id="V4">4&#160;</span>“ ‘Don’t turn to idols, nor make molten gods for yourselves. I am <span class="thelord">The LORD</span> your God. </div>
<div class='p'> <span class="verse" id="V5">5&#160;</span>“ ‘When you offer a sacrifice of peace offerings to <span class="thelord">The LORD</span>, you shall offer it so that you may be accepted. <span class="verse" id="V6">6&#160;</span>It shall be eaten the same day you offer it, and on the next
    day. If anything remains until the third day, it shall be burned with fire. <span class="verse" id="V7">7&#160;</span>If it is eaten at all on the third day, it is an abomination. It will not be accepted; <span class="verse" id="V8">8&#160;</span>but
    everyone who eats it shall bear his iniquity, because he has profaned the holy thing of <span class="thelord">The LORD</span>, and that soul shall be cut off from his people. </div>
<div class='p'> <span class="verse" id="V9">9&#160;</span>“ ‘When you reap the harvest of your land, you shall not wholly reap the corners of your field, neither shall you gather the gleanings of your harvest. <span class="verse" id="V10">10&#160;</span>You shall not
    glean your vineyard, neither shall you gather the fallen grapes of your vineyard. You shall leave them for the poor and for the foreigner. I am <span class="thelord">The LORD</span> your God. </div>
<div class='p'> <span class="verse" id="V11">11&#160;</span>“ ‘You shall not steal. </div>
<div class='p'>“ ‘You shall not lie. </div>
<div class='p'>“ ‘You shall not deceive one another. </div>
<div class='p'> <span class="verse" id="V12">12&#160;</span>“ ‘You shall not swear by my name falsely, and profane the name of your God. I am <span class="thelord">The LORD</span>. </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span>“ ‘You shall not oppress your neighbor, nor rob him. </div>
<div class='p'>“ ‘The wages of a hired servant shall not remain with you all night until the morning. </div>
<div class='p'> <span class="verse" id="V14">14&#160;</span>“ ‘You shall not curse the deaf, nor put a stumbling block before the blind; but you shall fear your God. I am <span class="thelord">The LORD</span>. </div>
<div class='p'> <span class="verse" id="V15">15&#160;</span>“ ‘You shall do no injustice in judgment. You shall not be partial to the poor, nor show favoritism to the great; but you shall judge your neighbor in righteousness. </div>
<div class='p'> <span class="verse" id="V16">16&#160;</span>“ ‘You shall not go around as a slanderer among your people. </div>
<div class='p'>“ ‘You shall not endanger the life<a href="#FN1" class="notemark">*<span class="popup"> literally, “blood”</span></a> of your neighbor. I am <span class="thelord">The LORD</span>. </div>
<div class='p'> <span class="verse" id="V17">17&#160;</span>“ ‘You shall not hate your brother in your heart. You shall surely rebuke your neighbor, and not bear sin because of him. </div>
<div class='p'> <span class="verse" id="V18">18&#160;</span>“ ‘You shall not take vengeance, nor bear any grudge against the children of your people; but you shall love your neighbor as yourself. I am <span class="thelord">The LORD</span>. </div>
<div class='p'> <span class="verse" id="V19">19&#160;</span>“ ‘You shall keep my statutes. </div>
<div class='p'>“ ‘You shall not cross-breed different kinds of animals. </div>
<div class='p'>“ ‘You shall not sow your field with two kinds of seed; </div>
<div class='p'>“ ‘Don’t wear a garment made of two kinds of material. </div>
<div class='p'> <span class="verse" id="V20">20&#160;</span>“ ‘If a man lies carnally with a woman who is a slave girl, pledged to be married to another man, and not ransomed or given her freedom; they shall be punished. They shall not be put to death, because she was
    not free. <span class="verse" id="V21">21&#160;</span>He shall bring his trespass offering to <span class="thelord">The LORD</span>, to the door of the Tent of Meeting, even a ram for a trespass offering. <span class="verse" id="V22">22&#160;</span>The priest shall make atonement
    for him with the ram of the trespass offering before <span class="thelord">The LORD</span> for his sin which he has committed; and the sin which he has committed shall be forgiven him. </div>
<div class='p'> <span class="verse" id="V23">23&#160;</span>“ ‘When you come into the land, and have planted all kinds of trees for food, then you shall count their fruit as forbidden.<a href="#FN2" class="notemark">†<span class="popup"> literally, “uncircumcised”</span></a>    For three years it shall be forbidden to you. It shall not be eaten. <span class="verse" id="V24">24&#160;</span>But in the fourth year all its fruit shall be holy, for giving praise to <span class="thelord">The LORD</span>. <span class="verse" id="V25">25&#160;</span>In the fifth
    year you shall eat its fruit, that it may yield its increase to you. I am <span class="thelord">The LORD</span> your God. </div>
<div class='p'> <span class="verse" id="V26">26&#160;</span>“ ‘You shall not eat any meat with the blood still in it. You shall not use enchantments, nor practice sorcery. </div>
<div class='p'> <span class="verse" id="V27">27&#160;</span>“ ‘You shall not cut the hair on the sides of your head or clip off the edge of your beard. </div>
<div class='p'> <span class="verse" id="V28">28&#160;</span>“ ‘You shall not make any cuttings in your flesh for the dead, nor tattoo any marks on you. I am <span class="thelord">The LORD</span>. </div>
<div class='p'> <span class="verse" id="V29">29&#160;</span>“ ‘Don’t profane your daughter, to make her a prostitute; lest the land fall to prostitution, and the land become full of wickedness. </div>
<div class='p'> <span class="verse" id="V30">30&#160;</span>“ ‘You shall keep my Sabbaths, and reverence my sanctuary; I am <span class="thelord">The LORD</span>. </div>
<div class='p'> <span class="verse" id="V31">31&#160;</span>“ ‘Don’t turn to those who are mediums, nor to the wizards. Don’t seek them out, to be defiled by them. I am <span class="thelord">The LORD</span> your God. </div>
<div class='p'> <span class="verse" id="V32">32&#160;</span>“ ‘You shall rise up before the gray head and honor the face of the elderly; and you shall fear your God. I am <span class="thelord">The LORD</span>. </div>
<div class='p'> <span class="verse" id="V33">33&#160;</span>“ ‘If a stranger lives as a foreigner with you in your land, you shall not do him wrong. <span class="verse" id="V34">34&#160;</span>The stranger who lives as a foreigner with you shall be to you as the native-born
    among you, and you shall love him as yourself; for you lived as foreigners in the land of Egypt. I am <span class="thelord">The LORD</span> your God. </div>
<div class='p'> <span class="verse" id="V35">35&#160;</span>“ ‘You shall do no unrighteousness in judgment, in measures of length, of weight, or of quantity. <span class="verse" id="V36">36&#160;</span>You shall have just balances, just weights, a just ephah,<a href="#FN3"
        class="notemark">‡<span class="popup"> 1 ephah is about 22 liters or about 2/3 of a bushel</span></a> and a just hin.<a href="#FN4" class="notemark">§<span class="popup"> A hin is about 6.5 liters or 1.7 gallons.</span></a> I am <span class="thelord">The LORD</span> your God, who
    brought you out of the land of Egypt. </div>
<div class='p'> <span class="verse" id="V37">37&#160;</span>“ ‘You shall observe all my statutes and all my ordinances, and do them. I am <span class="thelord">The LORD</span>.’ ” </div>
<div class='chapterlabel' id="V0"> 20</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span><span class="thelord">The LORD</span> spoke to Moses, saying, <span class="verse" id="V2">2&#160;</span>“Moreover, you shall tell the children of Israel, ‘Anyone of the children of Israel, or of the strangers who live as foreigners in Israel,
    who gives any of his offspring<a href="#FN1" class="notemark">*<span class="popup"> or, seed</span></a> to Molech shall surely be put to death. The people of the land shall stone that person with stones. <span class="verse" id="V3">3&#160;</span>I
    also will set my face against that person, and will cut him off from among his people, because he has given of his offspring to Molech, to defile my sanctuary, and to profane my holy name. <span class="verse" id="V4">4&#160;</span>If the people of
    the land all hide their eyes from that person when he gives of his offspring to Molech, and don’t put him to death, <span class="verse" id="V5">5&#160;</span>then I will set my face against that man and against his family, and will cut him off, and
    all who play the prostitute after him to play the prostitute with Molech, from among their people. </div>
<div class='p'> <span class="verse" id="V6">6&#160;</span>“ ‘The person that turns to those who are mediums and wizards, to play the prostitute after them, I will even set my face against that person, and will cut him off from among his people. </div>
<div class='p'>
    <span class="verse" id="V7">7&#160;</span>“ ‘Sanctify yourselves therefore, and be holy; for I am <span class="thelord">The LORD</span> your God. <span class="verse" id="V8">8&#160;</span>You shall keep my statutes, and do them. I am <span class="thelord">The LORD</span> who sanctifies you. </div>
<div class='p'>
    <span class="verse" id="V9">9&#160;</span>“ ‘For everyone who curses his father or his mother shall surely be put to death. He has cursed his father or his mother. His blood shall be upon himself. </div>
<div class='p'> <span class="verse" id="V10">10&#160;</span>“ ‘The man who commits adultery with another man’s wife, even he who commits adultery with his neighbor’s wife, the adulterer and the adulteress shall surely be put to death. </div>
<div class='p'> <span class="verse" id="V11">11&#160;</span>“ ‘The man who lies with his father’s wife has uncovered his father’s nakedness. Both of them shall surely be put to death. Their blood shall be upon themselves. </div>
<div class='p'> <span class="verse" id="V12">12&#160;</span>“ ‘If a man lies with his daughter-in-law, both of them shall surely be put to death. They have committed a perversion. Their blood shall be upon themselves. </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span>“ ‘If a man lies with a male, as with a woman, both of them have committed an abomination. They shall surely be put to death. Their blood shall be upon themselves. </div>
<div class='p'> <span class="verse" id="V14">14&#160;</span>“ ‘If a man takes a wife and her mother, it is wickedness. They shall be burned with fire, both he and they, that there may be no wickedness among you. </div>
<div class='p'> <span class="verse" id="V15">15&#160;</span>“ ‘If a man lies with an animal, he shall surely be put to death; and you shall kill the animal. </div>
<div class='p'> <span class="verse" id="V16">16&#160;</span>“ ‘If a woman approaches any animal and lies with it, you shall kill the woman and the animal. They shall surely be put to death. Their blood shall be upon them. </div>
<div class='p'> <span class="verse" id="V17">17&#160;</span>“ ‘If a man takes his sister—his father’s daughter, or his mother’s daughter—and sees her nakedness, and she sees his nakedness, it is a shameful thing. They shall be cut off in the sight of the children of
    their people. He has uncovered his sister’s nakedness. He shall bear his iniquity. </div>
<div class='p'> <span class="verse" id="V18">18&#160;</span>“ ‘If a man lies with a woman having her monthly period, and uncovers her nakedness, he has made her fountain naked, and she has uncovered the fountain of her blood. Both of them shall be cut off from among
    their people. </div>
<div class='p'> <span class="verse" id="V19">19&#160;</span>“ ‘You shall not uncover the nakedness of your mother’s sister, nor of your father’s sister, for he has made his close relative naked. They shall bear their iniquity. <span class="verse" id="V20">20&#160;</span>If
    a man lies with his uncle’s wife, he has uncovered his uncle’s nakedness. They shall bear their sin. They shall die childless. </div>
<div class='p'> <span class="verse" id="V21">21&#160;</span>“ ‘If a man takes his brother’s wife, it is an impurity. He has uncovered his brother’s nakedness. They shall be childless. </div>
<div class='p'> <span class="verse" id="V22">22&#160;</span>“ ‘You shall therefore keep all my statutes and all my ordinances, and do them, that the land where I am bringing you to dwell may not vomit you out. <span class="verse" id="V23">23&#160;</span>You shall not
    walk in the customs of the nation which I am casting out before you; for they did all these things, and therefore I abhorred them. <span class="verse" id="V24">24&#160;</span>But I have said to you, “You shall inherit their land, and I will give it
    to you to possess it, a land flowing with milk and honey.” I am <span class="thelord">The LORD</span> your God, who has separated you from the peoples. </div>
<div class='p'> <span class="verse" id="V25">25&#160;</span>“ ‘You shall therefore make a distinction between the clean animal and the unclean, and between the unclean fowl and the clean. You shall not make yourselves abominable by animal, or by bird, or by anything
    with which the ground teems, which I have separated from you as unclean for you. <span class="verse" id="V26">26&#160;</span>You shall be holy to me, for I, <span class="thelord">The LORD</span>, am holy, and have set you apart from the peoples, that you should be mine.
</div>
<div class='p'> <span class="verse" id="V27">27&#160;</span>“ ‘A man or a woman that is a medium or is a wizard shall surely be put to death. They shall be stoned with stones. Their blood shall be upon themselves.’ ” </div>
