<div class='p'> <span class="verse" id="V9">9&#160;</span>This is the history of the generations of Noah: Noah was a righteous man, blameless among the people of his time. Noah walked with God. <span class="verse" id="V10">10&#160;</span>Noah became the father of three
    sons: Shem, Ham, and Japheth. <span class="verse" id="V11">11&#160;</span>The earth was corrupt before God, and the earth was filled with violence. <span class="verse" id="V12">12&#160;</span>God saw the earth, and saw that it was corrupt, for all
    flesh had corrupted their way on the earth. </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span>God said to Noah, “I will bring an end to all flesh, for the earth is filled with violence through them. Behold, I will destroy them and the earth. <span class="verse" id="V14">14&#160;</span>Make a ship of
    gopher wood. You shall make rooms in the ship, and shall seal it inside and outside with pitch. <span class="verse" id="V15">15&#160;</span>This is how you shall make it. The length of the ship shall be three hundred cubits,<a href="#FN2" class="notemark">†<span class="popup"> A cubit is the length from the tip of the middle finger to the elbow on a man’s arm, or about 18 inches or 46 centimeters.</span></a>    its width fifty cubits, and its height thirty cubits. <span class="verse" id="V16">16&#160;</span>You shall make a roof in the ship, and you shall finish it to a cubit upward. You shall set the door of the ship in its side. You shall make it with
    lower, second, and third levels. <span class="verse" id="V17">17&#160;</span>I, even I, will bring the flood of waters on this earth, to destroy all flesh having the breath of life from under the sky. Everything that is in the earth will die.
    <span
        class="verse" id="V18">18&#160;</span>But I will establish my covenant with you. You shall come into the ship, you, your sons, your wife, and your sons’ wives with you. <span class="verse" id="V19">19&#160;</span>Of every living thing of all flesh, you shall bring two of
        every sort into the ship, to keep them alive with you. They shall be male and female. <span class="verse" id="V20">20&#160;</span>Of the birds after their kind, of the livestock after their kind, of every creeping thing of the ground after its
        kind, two of every sort will come to you, to keep them alive. <span class="verse" id="V21">21&#160;</span>Take with you some of all food that is eaten, and gather it to yourself; and it will be for food for you, and for them.” <span class="verse"
            id="V22">22&#160;</span>Thus Noah did. He did all that God commanded him. </div>
<div class='chapterlabel' id="V0"> 7</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span><span class="thelord">The LORD</span> said to Noah, “Come with all of your household into the ship, for I have seen your righteousness before me in this generation. <span class="verse" id="V2">2&#160;</span>You shall take seven pairs of every
    clean animal with you, the male and his female. Of the animals that are not clean, take two, the male and his female. <span class="verse" id="V3">3&#160;</span>Also of the birds of the sky, seven and seven, male and female, to keep seed alive on the
    surface of all the earth. <span class="verse" id="V4">4&#160;</span>In seven days, I will cause it to rain on the earth for forty days and forty nights. I will destroy every living thing that I have made from the surface of the ground.” </div>
<div class='p'> <span class="verse" id="V5">5&#160;</span>Noah did everything that <span class="thelord">The LORD</span> commanded him. </div>
<div class='p'> <span class="verse" id="V6">6&#160;</span>Noah was six hundred years old when the flood of waters came on the earth. <span class="verse" id="V7">7&#160;</span>Noah went into the ship with his sons, his wife, and his sons’ wives, because of the floodwaters.
    <span class="verse" id="V8">8&#160;</span>Clean animals, unclean animals, birds, and everything that creeps on the ground <span class="verse" id="V9">9&#160;</span>went by pairs to Noah into the ship, male and female, as God commanded Noah.
    <span
        class="verse" id="V10">10&#160;</span>After the seven days, the floodwaters came on the earth. <span class="verse" id="V11">11&#160;</span>In the six hundredth year of Noah’s life, in the second month, on the seventeenth day of the month, on that day all the fountains of
        the great deep burst open, and the sky’s windows opened. <span class="verse" id="V12">12&#160;</span>It rained on the earth forty days and forty nights. </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span>In the same day Noah, and Shem, Ham, and Japheth—the sons of Noah—and Noah’s wife and the three wives of his sons with them, entered into the ship— <span class="verse" id="V14">14&#160;</span>they, and every
    animal after its kind, all the livestock after their kind, every creeping thing that creeps on the earth after its kind, and every bird after its kind, every bird of every sort. <span class="verse" id="V15">15&#160;</span>Pairs from all flesh with
    the breath of life in them went into the ship to Noah. <span class="verse" id="V16">16&#160;</span>Those who went in, went in male and female of all flesh, as God commanded him; then <span class="thelord">The LORD</span> shut him in. <span class="verse" id="V17">17&#160;</span>The
    flood was forty days on the earth. The waters increased, and lifted up the ship, and it was lifted up above the earth. <span class="verse" id="V18">18&#160;</span>The waters rose, and increased greatly on the earth; and the ship floated on the surface
    of the waters. <span class="verse" id="V19">19&#160;</span>The waters rose very high on the earth. All the high mountains that were under the whole sky were covered. <span class="verse" id="V20">20&#160;</span>The waters rose fifteen cubits
    <a href="#FN1" class="notemark">*<span class="popup"> A cubit is the length from the tip of the middle finger to the elbow on a man’s arm, or about 18 inches or 46 centimeters.</span></a> higher, and the mountains were covered.
    <span class="verse" id="V21">21&#160;</span>All flesh died that moved on the earth, including birds, livestock, animals, every creeping thing that creeps on the earth, and every man. <span class="verse" id="V22">22&#160;</span>All on the dry land,
    in whose nostrils was the breath of the spirit of life, died. <span class="verse" id="V23">23&#160;</span>Every living thing was destroyed that was on the surface of the ground, including man, livestock, creeping things, and birds of the sky. They
    were destroyed from the earth. Only Noah was left, and those who were with him in the ship. <span class="verse" id="V24">24&#160;</span>The waters flooded the earth one hundred fifty days. </div>
<div class='chapterlabel' id="V0"> 8</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>God remembered Noah, all the animals, and all the livestock that were with him in the ship; and God made a wind to pass over the earth. The waters subsided. <span class="verse" id="V2">2&#160;</span>The deep’s
    fountains and the sky’s windows were also stopped, and the rain from the sky was restrained. <span class="verse" id="V3">3&#160;</span>The waters continually receded from the earth. After the end of one hundred fifty days the waters receded.
    <span
        class="verse" id="V4">4&#160;</span>The ship rested in the seventh month, on the seventeenth day of the month, on Ararat’s mountains. <span class="verse" id="V5">5&#160;</span>The waters receded continually until the tenth month. In the tenth month, on the first day of
        the month, the tops of the mountains were visible. </div>
<div class='p'> <span class="verse" id="V6">6&#160;</span>At the end of forty days, Noah opened the window of the ship which he had made, <span class="verse" id="V7">7&#160;</span>and he sent out a raven. It went back and forth, until the waters were dried up from the
    earth. <span class="verse" id="V8">8&#160;</span>He himself sent out a dove to see if the waters were abated from the surface of the ground, <span class="verse" id="V9">9&#160;</span>but the dove found no place to rest her foot, and she returned into
    the ship to him, for the waters were on the surface of the whole earth. He put out his hand, and took her, and brought her to him into the ship. <span class="verse" id="V10">10&#160;</span>He waited yet another seven days; and again he sent the dove
    out of the ship. <span class="verse" id="V11">11&#160;</span>The dove came back to him at evening and, behold, in her mouth was a freshly plucked olive leaf. So Noah knew that the waters were abated from the earth.
    <span class="verse" id="V12">12&#160;</span>He waited yet another seven days, and sent out the dove; and she didn’t return to him any more. </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span>In the six hundred first year, in the first month, the first day of the month, the waters were dried up from the earth. Noah removed the covering of the ship, and looked. He saw that the surface of the ground
    was dry. <span class="verse" id="V14">14&#160;</span>In the second month, on the twenty-seventh day of the month, the earth was dry. </div>
<div class='p'> <span class="verse" id="V15">15&#160;</span>God spoke to Noah, saying, <span class="verse" id="V16">16&#160;</span>“Go out of the ship, you, your wife, your sons, and your sons’ wives with you. <span class="verse" id="V17">17&#160;</span>Bring out with
    you every living thing that is with you of all flesh, including birds, livestock, and every creeping thing that creeps on the earth, that they may breed abundantly in the earth, and be fruitful, and multiply on the earth.” </div>
<div class='p'> <span class="verse" id="V18">18&#160;</span>Noah went out, with his sons, his wife, and his sons’ wives with him. <span class="verse" id="V19">19&#160;</span>Every animal, every creeping thing, and every bird, whatever moves on the earth, after their
    families, went out of the ship. </div>
<div class='p'> <span class="verse" id="V20">20&#160;</span>Noah built an altar to <span class="thelord">The LORD</span>, and took of every clean animal, and of every clean bird, and offered burnt offerings on the altar. <span class="verse" id="V21">21&#160;</span><span class="thelord">The LORD</span> smelled the pleasant aroma.
    <span class="thelord">The LORD</span> said in his heart, “I will not again curse the ground any more for man’s sake because the imagination of man’s heart is evil from his youth. I will never again strike every living thing, as I have done. <span class="verse" id="V22">22&#160;</span>While
    the earth remains, seed time and harvest, and cold and heat, and summer and winter, and day and night will not cease.” </div>
<div class='chapterlabel' id="V0"> 9</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>God blessed Noah and his sons, and said to them, “Be fruitful, multiply, and replenish the earth. <span class="verse" id="V2">2&#160;</span>The fear of you and the dread of you will be on every animal of the earth,
    and on every bird of the sky. Everything that moves along the ground, and all the fish of the sea, are delivered into your hand. <span class="verse" id="V3">3&#160;</span>Every moving thing that lives will be food for you. As I gave you the green
    herb, I have given everything to you. <span class="verse" id="V4">4&#160;</span>But flesh with its life, that is, its blood, you shall not eat. <span class="verse" id="V5">5&#160;</span>I will surely require accounting for your life’s blood. At the
    hand of every animal I will require it. At the hand of man, even at the hand of every man’s brother, I will require the life of man. <span class="verse" id="V6">6&#160;</span>Whoever sheds man’s blood, his blood will be shed by man, for God made man
    in his own image. <span class="verse" id="V7">7&#160;</span>Be fruitful and multiply. Increase abundantly in the earth, and multiply in it.” </div>
<div class='p'> <span class="verse" id="V8">8&#160;</span>God spoke to Noah and to his sons with him, saying, <span class="verse" id="V9">9&#160;</span>“As for me, behold, I establish my covenant with you, and with your offspring after you, <span class="verse" id="V10">10&#160;</span>and
    with every living creature that is with you: the birds, the livestock, and every animal of the earth with you, of all that go out of the ship, even every animal of the earth. <span class="verse" id="V11">11&#160;</span>I will establish my covenant
    with you: All flesh will not be cut off any more by the waters of the flood. There will never again be a flood to destroy the earth.” <span class="verse" id="V12">12&#160;</span>God said, “This is the token of the covenant which I make between me
    and you and every living creature that is with you, for perpetual generations: <span class="verse" id="V13">13&#160;</span>I set my rainbow in the cloud, and it will be a sign of a covenant between me and the earth. <span class="verse" id="V14">14&#160;</span>When
    I bring a cloud over the earth, that the rainbow will be seen in the cloud, <span class="verse" id="V15">15&#160;</span>I will remember my covenant, which is between me and you and every living creature of all flesh, and the waters will no more become
    a flood to destroy all flesh. <span class="verse" id="V16">16&#160;</span>The rainbow will be in the cloud. I will look at it, that I may remember the everlasting covenant between God and every living creature of all flesh that is on the earth.”
    <span
        class="verse" id="V17">17&#160;</span>God said to Noah, “This is the token of the covenant which I have established between me and all flesh that is on the earth.” </div>
<div class='p'> <span class="verse" id="V18">18&#160;</span>The sons of Noah who went out from the ship were Shem, Ham, and Japheth. Ham is the father of Canaan. <span class="verse" id="V19">19&#160;</span>These three were the sons of Noah, and from these the whole earth
    was populated. </div>
<div class='p'> <span class="verse" id="V20">20&#160;</span>Noah began to be a farmer, and planted a vineyard. <span class="verse" id="V21">21&#160;</span>He drank of the wine and got drunk. He was uncovered within his tent. <span class="verse" id="V22">22&#160;</span>Ham,
    the father of Canaan, saw the nakedness of his father, and told his two brothers outside. <span class="verse" id="V23">23&#160;</span>Shem and Japheth took a garment, and laid it on both their shoulders, went in backwards, and covered the nakedness
    of their father. Their faces were backwards, and they didn’t see their father’s nakedness. <span class="verse" id="V24">24&#160;</span>Noah awoke from his wine, and knew what his youngest son had done to him. <span class="verse" id="V25">25&#160;</span>He
    said, </div>
<div class='q'>“Canaan is cursed. </div>
<div class='q2'>He will be a servant of servants to his brothers.” </div>
<div class='p'> <span class="verse" id="V26">26&#160;</span>He said, </div>
<div class='q'>“Blessed be <span class="thelord">The LORD</span>, the God of Shem. </div>
<div class='q2'>Let Canaan be his servant. </div>
<div class='q'> <span class="verse" id="V27">27&#160;</span>May God enlarge Japheth. </div>
<div class='q2'>Let him dwell in the tents of Shem. </div>
<div class='q2'>Let Canaan be his servant.” </div>
<div class='p'> <span class="verse" id="V28">28&#160;</span>Noah lived three hundred fifty years after the flood. <span class="verse" id="V29">29&#160;</span>All the days of Noah were nine hundred fifty years, and then he died. </div>
<div class='chapterlabel' id="V0"> 10</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>Now this is the history of the generations of the sons of Noah and of Shem, Ham, and Japheth. Sons were born to them after the flood. </div>
<div class='p'> <span class="verse" id="V2">2&#160;</span>The sons of Japheth were: Gomer, Magog, Madai, Javan, Tubal, Meshech, and Tiras. <span class="verse" id="V3">3&#160;</span>The sons of Gomer were: Ashkenaz, Riphath, and Togarmah. <span class="verse" id="V4">4&#160;</span>The
    sons of Javan were: Elishah, Tarshish, Kittim, and Dodanim. <span class="verse" id="V5">5&#160;</span>Of these were the islands of the nations divided in their lands, everyone after his language, after their families, in their nations. </div>
<div class='p'> <span class="verse" id="V6">6&#160;</span>The sons of Ham were: Cush, Mizraim, Put, and Canaan. <span class="verse" id="V7">7&#160;</span>The sons of Cush were: Seba, Havilah, Sabtah, Raamah, and Sabteca. The sons of Raamah were: Sheba and Dedan.
    <span class="verse" id="V8">8&#160;</span>Cush became the father of Nimrod. He began to be a mighty one in the earth. <span class="verse" id="V9">9&#160;</span>He was a mighty hunter before <span class="thelord">The LORD</span>. Therefore it is said, “like Nimrod, a mighty hunter
    before <span class="thelord">The LORD</span>”. <span class="verse" id="V10">10&#160;</span>The beginning of his kingdom was Babel, Erech, Accad, and Calneh, in the land of Shinar. <span class="verse" id="V11">11&#160;</span>Out of that land he went into Assyria, and built Nineveh,
    Rehoboth Ir, Calah, <span class="verse" id="V12">12&#160;</span>and Resen between Nineveh and the great city Calah. <span class="verse" id="V13">13&#160;</span>Mizraim became the father of Ludim, Anamim, Lehabim, Naphtuhim,
    <span class="verse" id="V14">14&#160;</span>Pathrusim, Casluhim (which the Philistines descended from), and Caphtorim. </div>
<div class='p'> <span class="verse" id="V15">15&#160;</span>Canaan became the father of Sidon (his firstborn), Heth, <span class="verse" id="V16">16&#160;</span>the Jebusites, the Amorites, the Girgashites, <span class="verse" id="V17">17&#160;</span>the Hivites, the
    Arkites, the Sinites, <span class="verse" id="V18">18&#160;</span>the Arvadites, the Zemarites, and the Hamathites. Afterward the families of the Canaanites were spread abroad. <span class="verse" id="V19">19&#160;</span>The border of the Canaanites
    was from Sidon—as you go toward Gerar—to Gaza—as you go toward Sodom, Gomorrah, Admah, and Zeboiim—to Lasha. <span class="verse" id="V20">20&#160;</span>These are the sons of Ham, after their families, according to their languages, in their lands
    and their nations. </div>
<div class='p'> <span class="verse" id="V21">21&#160;</span>Children were also born to Shem (the elder brother of Japheth), the father of all the children of Eber. <span class="verse" id="V22">22&#160;</span>The sons of Shem were: Elam, Asshur, Arpachshad, Lud, and Aram.
    <span class="verse" id="V23">23&#160;</span>The sons of Aram were: Uz, Hul, Gether, and Mash. <span class="verse" id="V24">24&#160;</span>Arpachshad became the father of Shelah. Shelah became the father of Eber. <span class="verse" id="V25">25&#160;</span>To
    Eber were born two sons. The name of the one was Peleg, for in his days the earth was divided. His brother’s name was Joktan. <span class="verse" id="V26">26&#160;</span>Joktan became the father of Almodad, Sheleph, Hazarmaveth, Jerah, <span class="verse"
        id="V27">27&#160;</span>Hadoram, Uzal, Diklah, <span class="verse" id="V28">28&#160;</span>Obal, Abimael, Sheba, <span class="verse" id="V29">29&#160;</span>Ophir, Havilah, and Jobab. All these were the sons of Joktan. <span class="verse" id="V30">30&#160;</span>Their
    dwelling extended from Mesha, as you go toward Sephar, the mountain of the east. <span class="verse" id="V31">31&#160;</span>These are the sons of Shem, by their families, according to their languages, lands, and nations. </div>
<div class='p'>
    <span class="verse" id="V32">32&#160;</span>These are the families of the sons of Noah, by their generations, according to their nations. The nations divided from these in the earth after the flood. </div>
<div class='chapterlabel' id="V0"> 11</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>The whole earth was of one language and of one speech. <span class="verse" id="V2">2&#160;</span>As they traveled from the east, they found a plain in the land of Shinar, and they lived there. <span class="verse"
        id="V3">3&#160;</span>They said to one another, “Come, let’s make bricks, and burn them thoroughly.” They had brick for stone, and they used tar for mortar. <span class="verse" id="V4">4&#160;</span>They said, “Come, let’s build ourselves a city,
    and a tower whose top reaches to the sky, and let’s make a name for ourselves, lest we be scattered abroad on the surface of the whole earth.” </div>
<div class='p'> <span class="verse" id="V5">5&#160;</span><span class="thelord">The LORD</span> came down to see the city and the tower, which the children of men built. <span class="verse" id="V6">6&#160;</span><span class="thelord">The LORD</span> said, “Behold, they are one people, and they all have one language, and this is
    what they begin to do. Now nothing will be withheld from them, which they intend to do. <span class="verse" id="V7">7&#160;</span>Come, let’s go down, and there confuse their language, that they may not understand one another’s speech.”
    <span class="verse" id="V8">8&#160;</span>So <span class="thelord">The LORD</span> scattered them abroad from there on the surface of all the earth. They stopped building the city. <span class="verse" id="V9">9&#160;</span>Therefore its name was called Babel, because there <span class="thelord">The LORD</span>
    confused the language of all the earth. From there, <span class="thelord">The LORD</span> scattered them abroad on the surface of all the earth. </div>
<div class='p'> <span class="verse" id="V10">10&#160;</span>This is the history of the generations of Shem: Shem was one hundred years old when he became the father of Arpachshad two years after the flood. <span class="verse" id="V11">11&#160;</span>Shem lived five hundred
    years after he became the father of Arpachshad, and became the father of more sons and daughters. </div>
<div class='p'> <span class="verse" id="V12">12&#160;</span>Arpachshad lived thirty-five years and became the father of Shelah. <span class="verse" id="V13">13&#160;</span>Arpachshad lived four hundred three years after he became the father of Shelah, and became the
    father of more sons and daughters. </div>
<div class='p'> <span class="verse" id="V14">14&#160;</span>Shelah lived thirty years, and became the father of Eber. <span class="verse" id="V15">15&#160;</span>Shelah lived four hundred three years after he became the father of Eber, and became the father of more sons
    and daughters. </div>
<div class='p'> <span class="verse" id="V16">16&#160;</span>Eber lived thirty-four years, and became the father of Peleg. <span class="verse" id="V17">17&#160;</span>Eber lived four hundred thirty years after he became the father of Peleg, and became the father of more
    sons and daughters. </div>
<div class='p'> <span class="verse" id="V18">18&#160;</span>Peleg lived thirty years, and became the father of Reu. <span class="verse" id="V19">19&#160;</span>Peleg lived two hundred nine years after he became the father of Reu, and became the father of more sons and
    daughters. </div>
<div class='p'> <span class="verse" id="V20">20&#160;</span>Reu lived thirty-two years, and became the father of Serug. <span class="verse" id="V21">21&#160;</span>Reu lived two hundred seven years after he became the father of Serug, and became the father of more sons
    and daughters. </div>
<div class='p'> <span class="verse" id="V22">22&#160;</span>Serug lived thirty years, and became the father of Nahor. <span class="verse" id="V23">23&#160;</span>Serug lived two hundred years after he became the father of Nahor, and became the father of more sons and
    daughters. </div>
<div class='p'> <span class="verse" id="V24">24&#160;</span>Nahor lived twenty-nine years, and became the father of Terah. <span class="verse" id="V25">25&#160;</span>Nahor lived one hundred nineteen years after he became the father of Terah, and became the father of
    more sons and daughters. </div>
<div class='p'> <span class="verse" id="V26">26&#160;</span>Terah lived seventy years, and became the father of Abram, Nahor, and Haran. </div>
<div class='p'> <span class="verse" id="V27">27&#160;</span>Now this is the history of the generations of Terah. Terah became the father of Abram, Nahor, and Haran. Haran became the father of Lot. <span class="verse" id="V28">28&#160;</span>Haran died in the land of
    his birth, in Ur of the Chaldees, while his father Terah was still alive. <span class="verse" id="V29">29&#160;</span>Abram and Nahor married wives. The name of Abram’s wife was Sarai, and the name of Nahor’s wife was Milcah, the daughter of Haran,
    who was also the father of Iscah. <span class="verse" id="V30">30&#160;</span>Sarai was barren. She had no child. <span class="verse" id="V31">31&#160;</span>Terah took Abram his son, Lot the son of Haran, his son’s son, and Sarai his daughter-in-law,
    his son Abram’s wife. They went from Ur of the Chaldees, to go into the land of Canaan. They came to Haran and lived there. <span class="verse" id="V32">32&#160;</span>The days of Terah were two hundred five years. Terah died in Haran. </div>
