<div class='chapterlabel' id="V0"> 18</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span><span class="thelord">The LORD</span> appeared to him by the oaks of Mamre, as he sat in the tent door in the heat of the day. <span class="verse" id="V2">2&#160;</span>He lifted up his eyes and looked, and saw that three men stood near him.
    When he saw them, he ran to meet them from the tent door, and bowed himself to the earth, <span class="verse" id="V3">3&#160;</span>and said, “My lord, if now I have found favor in your sight, please don’t go away from your servant.
    <span class="verse" id="V4">4&#160;</span>Now let a little water be fetched, wash your feet, and rest yourselves under the tree. <span class="verse" id="V5">5&#160;</span>I will get a piece of bread so you can refresh your heart. After that you may
    go your way, now that you have come to your servant.” </div>
<div class='p'>They said, “Very well, do as you have said.” </div>
<div class='p'> <span class="verse" id="V6">6&#160;</span>Abraham hurried into the tent to Sarah, and said, “Quickly prepare three seahs<a href="#FN1" class="notemark">*<span class="popup"> 1 seah is about 7 liters or 1.9 gallons or 0.8 pecks</span></a> of fine meal,
    knead it, and make cakes.” <span class="verse" id="V7">7&#160;</span>Abraham ran to the herd, and fetched a tender and good calf, and gave it to the servant. He hurried to dress it. <span class="verse" id="V8">8&#160;</span>He took butter, milk, and
    the calf which he had dressed, and set it before them. He stood by them under the tree, and they ate. </div>
<div class='p'> <span class="verse" id="V9">9&#160;</span>They asked him, “Where is Sarah, your wife?” </div>
<div class='p'>He said, “There, in the tent.” </div>
<div class='p'> <span class="verse" id="V10">10&#160;</span>He said, “I will certainly return to you at about this time next year; and behold, Sarah your wife will have a son.” </div>
<div class='p'>Sarah heard in the tent door, which was behind him. <span class="verse" id="V11">11&#160;</span>Now Abraham and Sarah were old, well advanced in age. Sarah had passed the age of childbearing. <span class="verse" id="V12">12&#160;</span>Sarah laughed within
    herself, saying, “After I have grown old will I have pleasure, my lord being old also?” </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span><span class="thelord">The LORD</span> said to Abraham, “Why did Sarah laugh, saying, ‘Will I really bear a child when I am old?’ <span class="verse" id="V14">14&#160;</span>Is anything too hard for <span class="thelord">The LORD</span>? At the set time I will return to
    you, when the season comes round, and Sarah will have a son.” </div>
<div class='p'> <span class="verse" id="V15">15&#160;</span>Then Sarah denied it, saying, “I didn’t laugh,” for she was afraid. </div>
<div class='p'>He said, “No, but you did laugh.” </div>
<div class='p'> <span class="verse" id="V16">16&#160;</span>The men rose up from there, and looked toward Sodom. Abraham went with them to see them on their way. <span class="verse" id="V17">17&#160;</span><span class="thelord">The LORD</span> said, “Will I hide from Abraham what I do,
    <span class="verse" id="V18">18&#160;</span>since Abraham will surely become a great and mighty nation, and all the nations of the earth will be blessed in him? <span class="verse" id="V19">19&#160;</span>For I have known him, to the end that he may
    command his children and his household after him, that they may keep the way of <span class="thelord">The LORD</span>, to do righteousness and justice; to the end that <span class="thelord">The LORD</span> may bring on Abraham that which he has spoken of him.” <span class="verse" id="V20">20&#160;</span><span class="thelord">The LORD</span>
    said, “Because the cry of Sodom and Gomorrah is great, and because their sin is very grievous, <span class="verse" id="V21">21&#160;</span>I will go down now, and see whether their deeds are as bad as the reports which have come to me. If not, I will
    know.” </div>
<div class='p'> <span class="verse" id="V22">22&#160;</span>The men turned from there, and went toward Sodom, but Abraham stood yet before <span class="thelord">The LORD</span>. <span class="verse" id="V23">23&#160;</span>Abraham came near, and said, “Will you consume the righteous with the wicked?
    <span class="verse" id="V24">24&#160;</span>What if there are fifty righteous within the city? Will you consume and not spare the place for the fifty righteous who are in it? <span class="verse" id="V25">25&#160;</span>May it be far from you to do
    things like that, to kill the righteous with the wicked, so that the righteous should be like the wicked. May that be far from you. Shouldn’t the Judge of all the earth do right?” </div>
<div class='p'> <span class="verse" id="V26">26&#160;</span><span class="thelord">The LORD</span> said, “If I find in Sodom fifty righteous within the city, then I will spare the whole place for their sake.” <span class="verse" id="V27">27&#160;</span>Abraham answered, “See now, I have taken it on
    myself to speak to the Lord, although I am dust and ashes. <span class="verse" id="V28">28&#160;</span>What if there will lack five of the fifty righteous? Will you destroy all the city for lack of five?” </div>
<div class='p'>He said, “I will not destroy it if I find forty-five there.” </div>
<div class='p'> <span class="verse" id="V29">29&#160;</span>He spoke to him yet again, and said, “What if there are forty found there?” </div>
<div class='p'>He said, “I will not do it for the forty’s sake.” </div>
<div class='p'> <span class="verse" id="V30">30&#160;</span>He said, “Oh don’t let the Lord be angry, and I will speak. What if there are thirty found there?” </div>
<div class='p'>He said, “I will not do it if I find thirty there.” </div>
<div class='p'> <span class="verse" id="V31">31&#160;</span>He said, “See now, I have taken it on myself to speak to the Lord. What if there are twenty found there?” </div>
<div class='p'>He said, “I will not destroy it for the twenty’s sake.” </div>
<div class='p'> <span class="verse" id="V32">32&#160;</span>He said, “Oh don’t let the Lord be angry, and I will speak just once more. What if ten are found there?” </div>
<div class='p'>He said, “I will not destroy it for the ten’s sake.” </div>
<div class='p'> <span class="verse" id="V33">33&#160;</span><span class="thelord">The LORD</span> went his way, as soon as he had finished communing with Abraham, and Abraham returned to his place. </div>
<div class='chapterlabel' id="V0"> 19</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>The two angels came to Sodom at evening. Lot sat in the gate of Sodom. Lot saw them, and rose up to meet them. He bowed himself with his face to the earth, <span class="verse" id="V2">2&#160;</span>and he said,
    “See now, my lords, please come into your servant’s house, stay all night, wash your feet, and you can rise up early, and go on your way.” </div>
<div class='p'>They said, “No, but we will stay in the street all night.” </div>
<div class='p'> <span class="verse" id="V3">3&#160;</span>He urged them greatly, and they came in with him, and entered into his house. He made them a feast, and baked unleavened bread, and they ate. <span class="verse" id="V4">4&#160;</span>But before they lay down,
    the men of the city, the men of Sodom, surrounded the house, both young and old, all the people from every quarter. <span class="verse" id="V5">5&#160;</span>They called to Lot, and said to him, “Where are the men who came in to you this night? Bring
    them out to us, that we may have sex with them.” </div>
<div class='p'> <span class="verse" id="V6">6&#160;</span>Lot went out to them through the door, and shut the door after himself. <span class="verse" id="V7">7&#160;</span>He said, “Please, my brothers, don’t act so wickedly. <span class="verse" id="V8">8&#160;</span>See
    now, I have two virgin daughters. Please let me bring them out to you, and you may do to them what seems good to you. Only don’t do anything to these men, because they have come under the shadow of my roof.” </div>
<div class='p'> <span class="verse" id="V9">9&#160;</span>They said, “Stand back!” Then they said, “This one fellow came in to live as a foreigner, and he appoints himself a judge. Now we will deal worse with you than with them!” They pressed hard on the man Lot, and
    came near to break the door. <span class="verse" id="V10">10&#160;</span>But the men reached out their hand, and brought Lot into the house to them, and shut the door. <span class="verse" id="V11">11&#160;</span>They struck the men who were at the
    door of the house with blindness, both small and great, so that they wearied themselves to find the door. </div>
<div class='p'> <span class="verse" id="V12">12&#160;</span>The men said to Lot, “Do you have anybody else here? Sons-in-law, your sons, your daughters, and whomever you have in the city, bring them out of the place: <span class="verse" id="V13">13&#160;</span>for we
    will destroy this place, because the outcry against them has grown so great before <span class="thelord">The LORD</span> that <span class="thelord">The LORD</span> has sent us to destroy it.” </div>
<div class='p'> <span class="verse" id="V14">14&#160;</span>Lot went out, and spoke to his sons-in-law, who were pledged to marry his daughters, and said, “Get up! Get out of this place, for <span class="thelord">The LORD</span> will destroy the city!” </div>
<div class='p'>But he seemed to his sons-in-law to be joking. <span class="verse" id="V15">15&#160;</span>When the morning came, then the angels hurried Lot, saying, “Get up! Take your wife and your two daughters who are here, lest you be consumed in the iniquity of
    the city.” <span class="verse" id="V16">16&#160;</span>But he lingered; and the men grabbed his hand, his wife’s hand, and his two daughters’ hands, <span class="thelord">The LORD</span> being merciful to him; and they took him out, and set him outside of the city.
    <span class="verse" id="V17">17&#160;</span>It came to pass, when they had taken them out, that he said, “Escape for your life! Don’t look behind you, and don’t stay anywhere in the plain. Escape to the mountains, lest you be consumed!” </div>
<div class='p'> <span class="verse" id="V18">18&#160;</span>Lot said to them, “Oh, not so, my lord. <span class="verse" id="V19">19&#160;</span>See now, your servant has found favor in your sight, and you have magnified your loving kindness, which you have shown to me
    in saving my life. I can’t escape to the mountain, lest evil overtake me, and I die. <span class="verse" id="V20">20&#160;</span>See now, this city is near to flee to, and it is a little one. Oh let me escape there (isn’t it a little one?), and my
    soul will live.” </div>
<div class='p'> <span class="verse" id="V21">21&#160;</span>He said to him, “Behold, I have granted your request concerning this thing also, that I will not overthrow the city of which you have spoken. <span class="verse" id="V22">22&#160;</span>Hurry, escape there,
    for I can’t do anything until you get there.” Therefore the name of the city was called Zoar.<a href="#FN1" class="notemark">*<span class="popup"> Zoar means “little”. </span></a> </div>
<div class='p'> <span class="verse" id="V23">23&#160;</span>The sun had risen on the earth when Lot came to Zoar. <span class="verse" id="V24">24&#160;</span>Then <span class="thelord">The LORD</span> rained on Sodom and on Gomorrah sulfur and fire from <span class="thelord">The LORD</span> out of the sky. <span class="verse" id="V25">25&#160;</span>He
    overthrew those cities, all the plain, all the inhabitants of the cities, and that which grew on the ground. <span class="verse" id="V26">26&#160;</span>But Lot’s wife looked back from behind him, and she became a pillar of salt. </div>
<div class='p'> <span class="verse" id="V27">27&#160;</span>Abraham went up early in the morning to the place where he had stood before <span class="thelord">The LORD</span>. <span class="verse" id="V28">28&#160;</span>He looked toward Sodom and Gomorrah, and toward all the land of the plain, and
    saw that the smoke of the land went up as the smoke of a furnace. </div>
<div class='p'> <span class="verse" id="V29">29&#160;</span>When God destroyed the cities of the plain, God remembered Abraham, and sent Lot out of the middle of the overthrow, when he overthrew the cities in which Lot lived. </div>
<div class='p'> <span class="verse" id="V30">30&#160;</span>Lot went up out of Zoar, and lived in the mountain, and his two daughters with him; for he was afraid to live in Zoar. He lived in a cave with his two daughters. <span class="verse" id="V31">31&#160;</span>The
    firstborn said to the younger, “Our father is old, and there is not a man in the earth to come in to us in the way of all the earth. <span class="verse" id="V32">32&#160;</span>Come, let’s make our father drink wine, and we will lie with him, that
    we may preserve our father’s family line.” <span class="verse" id="V33">33&#160;</span>They made their father drink wine that night: and the firstborn went in, and lay with her father. He didn’t know when she lay down, nor when she arose.
    <span class="verse" id="V34">34&#160;</span>It came to pass on the next day, that the firstborn said to the younger, “Behold, I lay last night with my father. Let’s make him drink wine again tonight. You go in, and lie with him, that we may preserve
    our father’s family line.” <span class="verse" id="V35">35&#160;</span>They made their father drink wine that night also. The younger went and lay with him. He didn’t know when she lay down, nor when she got up. <span class="verse" id="V36">36&#160;</span>Thus
    both of Lot’s daughters were with child by their father. <span class="verse" id="V37">37&#160;</span>The firstborn bore a son, and named him Moab. He is the father of the Moabites to this day. <span class="verse" id="V38">38&#160;</span>The younger
    also bore a son, and called his name Ben Ammi. He is the father of the children of Ammon to this day. </div>
<div class='chapterlabel' id="V0"> 20</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>Abraham traveled from there toward the land of the South, and lived between Kadesh and Shur. He lived as a foreigner in Gerar. <span class="verse" id="V2">2&#160;</span>Abraham said about Sarah his wife, “She
    is my sister.” Abimelech king of Gerar sent, and took Sarah. <span class="verse" id="V3">3&#160;</span>But God came to Abimelech in a dream of the night, and said to him, “Behold, you are a dead man, because of the woman whom you have taken; for she
    is a man’s wife.” </div>
<div class='p'> <span class="verse" id="V4">4&#160;</span>Now Abimelech had not come near her. He said, “Lord, will you kill even a righteous nation? <span class="verse" id="V5">5&#160;</span>Didn’t he tell me, ‘She is my sister’? She, even she herself, said, ‘He is
    my brother.’ I have done this in the integrity of my heart and the innocence of my hands.” </div>
<div class='p'> <span class="verse" id="V6">6&#160;</span>God said to him in the dream, “Yes, I know that in the integrity of your heart you have done this, and I also withheld you from sinning against me. Therefore I didn’t allow you to touch her. <span class="verse"
        id="V7">7&#160;</span>Now therefore, restore the man’s wife. For he is a prophet, and he will pray for you, and you will live. If you don’t restore her, know for sure that you will die, you, and all who are yours.” </div>
<div class='p'> <span class="verse" id="V8">8&#160;</span>Abimelech rose early in the morning, and called all his servants, and told all these things in their ear. The men were very scared. <span class="verse" id="V9">9&#160;</span>Then Abimelech called Abraham, and
    said to him, “What have you done to us? How have I sinned against you, that you have brought on me and on my kingdom a great sin? You have done deeds to me that ought not to be done!” <span class="verse" id="V10">10&#160;</span>Abimelech said to Abraham,
    “What did you see, that you have done this thing?” </div>
<div class='p'> <span class="verse" id="V11">11&#160;</span>Abraham said, “Because I thought, ‘Surely the fear of God is not in this place. They will kill me for my wife’s sake.’ <span class="verse" id="V12">12&#160;</span>Besides, she is indeed my sister, the daughter
    of my father, but not the daughter of my mother; and she became my wife. <span class="verse" id="V13">13&#160;</span>When God caused me to wander from my father’s house, I said to her, ‘This is your kindness which you shall show to me. Everywhere
    that we go, say of me, “He is my brother.” ’ ” </div>
<div class='p'> <span class="verse" id="V14">14&#160;</span>Abimelech took sheep and cattle, male servants and female servants, and gave them to Abraham, and restored Sarah, his wife, to him. <span class="verse" id="V15">15&#160;</span>Abimelech said, “Behold, my land
    is before you. Dwell where it pleases you.” <span class="verse" id="V16">16&#160;</span>To Sarah he said, “Behold, I have given your brother a thousand pieces of silver. Behold, it is for you a covering of the eyes to all that are with you. In front
    of all you are vindicated.” </div>
<div class='p'> <span class="verse" id="V17">17&#160;</span>Abraham prayed to God. God healed Abimelech, and his wife, and his female servants, and they bore children. <span class="verse" id="V18">18&#160;</span>For <span class="thelord">The LORD</span> had closed up tight all the wombs of the house
    of Abimelech, because of Sarah, Abraham’s wife. </div>
<div class='chapterlabel' id="V0"> 21</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span><span class="thelord">The LORD</span> visited Sarah as he had said, and <span class="thelord">The LORD</span> did to Sarah as he had spoken. <span class="verse" id="V2">2&#160;</span>Sarah conceived, and bore Abraham a son in his old age, at the set time of which God had
    spoken to him. <span class="verse" id="V3">3&#160;</span>Abraham called his son who was born to him, whom Sarah bore to him, Isaac. <a href="#FN1" class="notemark">*<span class="popup"> Isaac means “He laughs”.</span></a> <span class="verse" id="V4">4&#160;</span>Abraham
    circumcised his son, Isaac, when he was eight days old, as God had commanded him. <span class="verse" id="V5">5&#160;</span>Abraham was one hundred years old when his son, Isaac, was born to him. <span class="verse" id="V6">6&#160;</span>Sarah said,
    “God has made me laugh. Everyone who hears will laugh with me.” <span class="verse" id="V7">7&#160;</span>She said, “Who would have said to Abraham that Sarah would nurse children? For I have borne him a son in his old age.” </div>
<div class='p'> <span class="verse" id="V8">8&#160;</span>The child grew and was weaned. Abraham made a great feast on the day that Isaac was weaned. <span class="verse" id="V9">9&#160;</span>Sarah saw the son of Hagar the Egyptian, whom she had borne to Abraham, mocking.
    <span class="verse" id="V10">10&#160;</span>Therefore she said to Abraham, “Cast out this servant and her son! For the son of this servant will not be heir with my son, Isaac.” </div>
<div class='p'> <span class="verse" id="V11">11&#160;</span>The thing was very grievous in Abraham’s sight on account of his son. <span class="verse" id="V12">12&#160;</span>God said to Abraham, “Don’t let it be grievous in your sight because of the boy, and because
    of your servant. In all that Sarah says to you, listen to her voice. For your offspring will be named through Isaac. <span class="verse" id="V13">13&#160;</span>I will also make a nation of the son of the servant, because he is your child.”
    <span
        class="verse" id="V14">14&#160;</span>Abraham rose up early in the morning, and took bread and a container of water, and gave it to Hagar, putting it on her shoulder; and gave her the child, and sent her away. She departed, and wandered in the wilderness of Beersheba.
        <span
            class="verse" id="V15">15&#160;</span>The water in the container was spent, and she put the child under one of the shrubs. <span class="verse" id="V16">16&#160;</span>She went and sat down opposite him, a good way off, about a bow shot away. For she said, “Don’t let
            me see the death of the child.” She sat opposite him, and lifted up her voice, and wept. <span class="verse" id="V17">17&#160;</span>God heard the voice of the boy. </div>
<div class='p'>The angel of God called to Hagar out of the sky, and said to her, “What troubles you, Hagar? Don’t be afraid. For God has heard the voice of the boy where he is. <span class="verse" id="V18">18&#160;</span>Get up, lift up the boy, and hold him with your
    hand. For I will make him a great nation.” </div>
<div class='p'> <span class="verse" id="V19">19&#160;</span>God opened her eyes, and she saw a well of water. She went, filled the container with water, and gave the boy a drink. <span class="verse" id="V20">20&#160;</span>God was with the boy, and he grew. He lived
    in the wilderness, and as he grew up, became an archer. <span class="verse" id="V21">21&#160;</span>He lived in the wilderness of Paran. His mother got a wife for him out of the land of Egypt. </div>
<div class='p'> <span class="verse" id="V22">22&#160;</span>At that time, Abimelech and Phicol the captain of his army spoke to Abraham, saying, “God is with you in all that you do. <span class="verse" id="V23">23&#160;</span>Now, therefore, swear to me here by God that
    you will not deal falsely with me, nor with my son, nor with my son’s son. But according to the kindness that I have done to you, you shall do to me, and to the land in which you have lived as a foreigner.” </div>
<div class='p'> <span class="verse" id="V24">24&#160;</span>Abraham said, “I will swear.” <span class="verse" id="V25">25&#160;</span>Abraham complained to Abimelech because of a water well, which Abimelech’s servants had violently taken away. <span class="verse" id="V26">26&#160;</span>Abimelech
    said, “I don’t know who has done this thing. You didn’t tell me, and I didn’t hear of it until today.” </div>
<div class='p'> <span class="verse" id="V27">27&#160;</span>Abraham took sheep and cattle, and gave them to Abimelech. Those two made a covenant. <span class="verse" id="V28">28&#160;</span>Abraham set seven ewe lambs of the flock by themselves. <span class="verse" id="V29">29&#160;</span>Abimelech
    said to Abraham, “What do these seven ewe lambs, which you have set by themselves, mean?” </div>
<div class='p'> <span class="verse" id="V30">30&#160;</span>He said, “You shall take these seven ewe lambs from my hand, that it may be a witness to me, that I have dug this well.” <span class="verse" id="V31">31&#160;</span>Therefore he called that place Beersheba,
    <a href="#FN2" class="notemark">†<span class="popup"> Beersheba can mean “well of the oath” or “well of seven”.</span></a> because they both swore an oath there. <span class="verse" id="V32">32&#160;</span>So they made a covenant at Beersheba. Abimelech
    rose up with Phicol, the captain of his army, and they returned into the land of the Philistines. <span class="verse" id="V33">33&#160;</span>Abraham planted a tamarisk tree in Beersheba, and called there on the name of <span class="thelord">The LORD</span>, the Everlasting God.
    <span class="verse" id="V34">34&#160;</span>Abraham lived as a foreigner in the land of the Philistines many days. </div>
<div class='chapterlabel' id="V0"> 22</div>
<div class='p'> <span class="verse" id="V1">1&#160;</span>After these things, God tested Abraham, and said to him, “Abraham!” </div>
<div class='p'>He said, “Here I am.” </div>
<div class='p'> <span class="verse" id="V2">2&#160;</span>He said, “Now take your son, your only son, Isaac, whom you love, and go into the land of Moriah. Offer him there as a burnt offering on one of the mountains which I will tell you of.” </div>
<div class='p'>
    <span class="verse" id="V3">3&#160;</span>Abraham rose early in the morning, and saddled his donkey; and took two of his young men with him, and Isaac his son. He split the wood for the burnt offering, and rose up, and went to the place of which God
    had told him. <span class="verse" id="V4">4&#160;</span>On the third day Abraham lifted up his eyes, and saw the place far off. <span class="verse" id="V5">5&#160;</span>Abraham said to his young men, “Stay here with the donkey. The boy and I will
    go over there. We will worship, and come back to you.” <span class="verse" id="V6">6&#160;</span>Abraham took the wood of the burnt offering and laid it on Isaac his son. He took in his hand the fire and the knife. They both went together. <span class="verse"
        id="V7">7&#160;</span>Isaac spoke to Abraham his father, and said, “My father?” </div>
<div class='p'>He said, “Here I am, my son.” </div>
<div class='p'>He said, “Here is the fire and the wood, but where is the lamb for a burnt offering?” </div>
<div class='p'> <span class="verse" id="V8">8&#160;</span>Abraham said, “God will provide himself the lamb for a burnt offering, my son.” So they both went together. <span class="verse" id="V9">9&#160;</span>They came to the place which God had told him of. Abraham built
    the altar there, and laid the wood in order, bound Isaac his son, and laid him on the altar, on the wood. <span class="verse" id="V10">10&#160;</span>Abraham stretched out his hand, and took the knife to kill his son. </div>
<div class='p'>
    <span class="verse" id="V11">11&#160;</span><span class="thelord">The LORD</span>’s angel called to him out of the sky, and said, “Abraham, Abraham!” </div>
<div class='p'>He said, “Here I am.” </div>
<div class='p'> <span class="verse" id="V12">12&#160;</span>He said, “Don’t lay your hand on the boy or do anything to him. For now I know that you fear God, since you have not withheld your son, your only son, from me.” </div>
<div class='p'> <span class="verse" id="V13">13&#160;</span>Abraham lifted up his eyes, and looked, and saw that behind him was a ram caught in the thicket by his horns. Abraham went and took the ram, and offered him up for a burnt offering instead of his son.
    <span class="verse" id="V14">14&#160;</span>Abraham called the name of that place “<span class="thelord">The LORD</span> Will Provide”.<a href="#FN1" class="notemark">*<span class="popup"> or, <span class="thelord">The LORD</span>-Jireh, or, <span class="thelord">The LORD</span>-Seeing</span></a> As it is said to this day, “On <span class="thelord">The LORD</span>’s mountain,
    it will be provided.” </div>
<div class='p'> <span class="verse" id="V15">15&#160;</span><span class="thelord">The LORD</span>’s angel called to Abraham a second time out of the sky, <span class="verse" id="V16">16&#160;</span>and said, “ ‘I have sworn by myself,’ says <span class="thelord">The LORD</span>, ‘because you have done this thing, and have not withheld
    your son, your only son, <span class="verse" id="V17">17&#160;</span>that I will bless you greatly, and I will multiply your offspring greatly like the stars of the heavens, and like the sand which is on the seashore. Your offspring will possess the
    gate of his enemies. <span class="verse" id="V18">18&#160;</span>All the nations of the earth will be blessed by your offspring, because you have obeyed my voice.’ ” </div>
<div class='p'> <span class="verse" id="V19">19&#160;</span>So Abraham returned to his young men, and they rose up and went together to Beersheba. Abraham lived at Beersheba. </div>
<div class='p'> <span class="verse" id="V20">20&#160;</span>After these things, Abraham was told, “Behold, Milcah, she also has borne children to your brother Nahor: <span class="verse" id="V21">21&#160;</span>Uz his firstborn, Buz his brother, Kemuel the father of Aram,
    <span class="verse" id="V22">22&#160;</span>Chesed, Hazo, Pildash, Jidlaph, and Bethuel.” <span class="verse" id="V23">23&#160;</span>Bethuel became the father of Rebekah. These eight Milcah bore to Nahor, Abraham’s brother.
    <span class="verse" id="V24">24&#160;</span>His concubine, whose name was Reumah, also bore Tebah, Gaham, Tahash, and Maacah. </div>
